<!DOCTYPE html>
{% load static %}

<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
  </ul>
{% endif %}
    <form class="" action="" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" name="signup" value="Login">
    </form>
  </body>
</html> -->

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/poa_login/enquiries.css' %}">


<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Sign In -IROCK</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/irock.png' %}">
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themes/dark-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themes/semi-dark-layout.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/menu/menu-types/vertical-menu.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/core/colors/palette-gradient.css' %}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/pages/authentication.css' %}"> -->
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END: Custom CSS-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 1-column  navbar-floating footer-static bg-full-screen-image  menu-collapsed blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section>
                    <div class="row">
                        <div class="col-8 lg-office img-res">
                            <div class="lg-logo">
                                <img class="lg-mainlogo" src="{% static 'images/logo/irock.png' %}" alt="irock-logo" alt="">
                            </div>
                         <img class="login-img" src="{% static 'images/logo/loginbk.jpg' %}" alt="">
                        </div>
                        <div class="col-4 lg-field log-res">
                            <!-- <div class="row m-0"> -->
                                <div class="card lg-card">
  
                                    <!-- <div class="card rounded-0 mb-0 px-2"> -->
                                        <!-- <img class="rounded mx-auto d-block " style="width: 120px;" src="{% static 'images/logo/irock.png' %}" alt="irock-logo"> -->
                                        <div class="form-card">
                                            <div class="card-header">
                                            <div class="card-title">
        
                                                <h4 class="text-center lg-head">Product Owner Admin</h4>
                                            </div>
                                            </div>
                                        
                                        {% if messages %}
                                        <ul class="messages">
                                            <!-- {% for message in messages %}
                                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                            {% endfor %} -->
                                        </ul>
                                    
                                      {% endif %}
                                        <div class="card-content">
                                            <div class="card-body pt-1">
                                                <form action="" method="post" id="loginform" class="admin-log">
                                                  {% csrf_token %}

                                                    <fieldset class="form-label-group form-group position-relative has-icon-left lo-giner">
                                                        <label for="user-name" class="lg-name">Email</label>
                                                        <input type="email" class="form-control lg-input" name="email" id="id_email" placeholder="Email">
                                                        <div class="form-control-position">
                                                            <i class="feather icon-user"></i>
                                                        </div>
                                                
                                                    </fieldset>

                                                    <fieldset class="form-label-group position-relative has-icon-left lo-giner">
                                                        <label for="user-password" class="lg-name">Password</label>
                                                        <input type="password" class="form-control passwordfield lg-input" name="password" id="id_password" placeholder="Password">
                                                        <span id="toggle_pwd" class="fa fa-fw fa-eye field_icon eye-space"></span>
                                                        
                                                        {% comment %} <span class="input-group-text" id="eye"><i class="feather icon-eye-off"></i></span> {% endcomment %}

                                                    </fieldset>
                                                    <button type="submit" class="btn btn-primary float-right btn-inline lg-sign">Login</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="login-footer" style="visibility: hidden;">
                                            <div class="divider">
                                                <div class="divider-text">OR</div>
                                            </div>
                                            <div class="footer-btn d-inline">
                                                <a href="#" class="btn btn-facebook"><span class="fa fa-facebook"></span></a>
                                                <a href="#" class="btn btn-twitter white"><span class="fa fa-twitter"></span></a>
                                                <a href="#" class="btn btn-google"><span class="fa fa-google"></span></a>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        
                    </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'vendors/js/vendors.min.js' %}"></script>
    
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->
    <!-- <script src="{% static 'vendors/js/forms/validation/jquery.validate.min.js' %}"></script> -->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'js/core/app-menu.js' %}"></script>
    <script src="{% static 'js/core/app.js' %}"></script>
    <!-- <script src="{% static 'js/custom.js' %}"></script> -->

    <!-- <script src="{% static 'js/scripts/components.js' %}"></script> -->
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

<style>
     body {
    background-image: url("{% static 'images/iwells-map.jpg' %}");
    background-size: cover;
    background-position: center;
}   
label.error{
display: block;
    position: relative;
    top: 0 !important;
    color: white;
}

        #toggle_pwd
        {
            cursor: pointer;
            color: #af2b50;
            font-size: 19px;
            position: absolute;
    right: 20px;
    top: 45px;
        }


    </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>
    $(function () {
        $("#toggle_pwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#id_password").attr("type", type);
        });
    });

$.validator.addMethod("regex",function(value, element, regexp) {
        return this.optional(element) || regexp.test(value);
    },
);
    $("#loginform").validate({
      rules: {
        email: {
          required: true,
          email: true,
          regex:/^[.-\w]+@[\w\-]{3,}((.)\w{2,})+$/
        },
        password: {
          required:true,
        },
        },
        messages: {
            email:{
            required: "Please Provide a Email",
            email: "Please Provide a Valid Email",
            regex:"Please Provide a Valid Email",
            },
            password: {
            required:"Please Provide a Password",
            },
        },
        errorElement : 'span',

        submitHandler: function(form) {
            form.submit();
        }

    });

</script>
</html>