{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
{% load custom_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/user_Management/usergroup.css' %}">

<div class="row">
    <!-- <div class="col-3">
        <button type="button" class="btn btn-clr btn-master chck-tst mr-0"><a href="{% url 'custom_auth:list-usergroup-form' %}">Back</a></button>
    </div> -->
    <div class="col-12 text-end">
        <a class="btn btn-clr chck-tst" href="{% url 'custom_auth:list-usergroup-form' %}">Back</a>
    </div>
</div>

<section class="usesr-management-Edit-section">
<div>

    <h3 class="from-head">Edit User Group</h3>
    
    <div class="row d-flex justify-content-center">
      

        <div class="col-6">
        <div class="invite-cards">
            <form  class="form-txt" id="addtaxformid" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <label class="vend-appor-hd mt-3">Group Name<span class="star-clr ">*</span></label>
                        <input type="text" autocomplete="off" name="group" id="taxnameid0" class="form-control taxnamecls mt-2" value="{{group.group}}">
                    </div>
                </div>
                <div class="text-center phase-vendor mt-4" id="btn">
                    <button type="submit" class="final-cls btn btn-clr text-right">Submit</button>
                </div>

            </form>
        </div>
        </div>

    </div>

</div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
var global=$('.taxnamecls').val();
$(document).ready(function(){

    $('#addtaxformid').validate();
    $("[name=taxname]").rules("add", {
        required: true,
        });   
});

//$(document).on('keyup','.taxnamecls',function(){
    var ajaxData = false;
    $(".taxnamecls").focusout(function(){
        var val=$(this).val()
        if (global != val){
            $('.waring-err').remove()
            var currentelement=$(this)
            $.ajax({
                type: "POST",
                headers: { "X-CSRFToken": "{{ csrf_token }}"},
                url: "{% url 'custom_auth:validateusergroup' %}",
                async:false,
                data: {'group':$.trim(val),'group_id':'{{group.id}}'},
                success: function(data){
                    console.log({'checktaxname':data})
                    if (data.success == true){
                        ajaxData = true;
                        currentelement.after('<span class="waring-err">User Group Already Exists</span>')
                        $('.final-cls').prop('disabled',true)
                    }
                    else{
                        ajaxData = false;
                        $('.final-cls').prop('disabled',false)
                    }
                }
            });
        }
        else{
            $('.waring-err').remove()
            ajaxData = false;
            $('.final-cls').prop('disabled',false)
        }
    })
    $(document).on('keyup','.taxnamecls',function(){
    //$('.taxnamecls').keyup(function() {
        var $th = $(this);
        $th.val($th.val().replace(/(\s{2,})/g, ' '));
        $th.val($th.val().replace(/^\s*/, ''));
        });

$('.final-cls').click(function(e){
    console.log({'ajaxData':ajaxData})
    if (ajaxData){
e.preventDefault();
}
})

</script>

{% endblock %}