{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load invoice_custom_tags %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/profile/companyprofile.css' %}">
<div>
    <!--Link Change-->
    <div class="text-end">
        <button type="button" class="btn btn-clr">
            <a href={% if request.user.roles_id == 2  %}"{% url 'custom_auth:clientadminview' pk=userid.id%}"{% else %}"{% url 'custom_auth:userdetails' pk=userid.id%}"{% endif %}>
            Back</a></button>
    </div>
    
    <h4 class="from-head">Edit Password</h4>
        <input type="hidden" name="userid" id="getuserid" value="{{request.user.id|replacecommaid}}">

        <form  class="form-txt" id="edituserid" method="POST">

    {% csrf_token %}
    <div class="row">
        <div class="col-9">
        </div>
        
        
    </div>
    <div class="col-12">
        <div class="col-6 vend-appor-box">
            <div class="hd-vend-ap"><label class="vend-appor-hd">{{form.old_password.label}}<span class="star-clr">*</span></label>
                <div class="eye-icon-usse">
                    <span id="toggle_pwd" class="fa fa-fw fa-eye field_icon eye-spaces"></span>
                {% render_field form.old_password class="form-control ff-pass" %}
                </div>
                </div>
            <div class="hd-vend-ap"><label class="vend-appor-hd">{{form.new_password1.label}}<span class="star-clr">*</span></label>
                <div class="eye-icon-usse">
                    <span id="toggle_pwd2" class="fa fa-fw fa-eye field_icon eye-spaces"></span>
                {% render_field form.new_password1 class="form-control ff-pass" %}
                </div>
                </div>
            <div class="hd-vend-ap"><label class="vend-appor-hd">{{form.new_password2.label}}<span class="star-clr">*</span></label>
                <div class="eye-icon-usse">
                    <span id="toggle_pwd3" class="fa fa-fw fa-eye field_icon eye-spaces"></span>
                    {% render_field form.new_password2 class="form-control ff-pass" %}
                </div>
        </div>
        <div class="text-center spacing-button">
            <button type="submit" class="btn btn-clr text-center submit-cls" id="resetpass" data-id="1">Submit</button>
        </div>
    </div>
</form>


</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    // jQuery.noConflict();
    $(document).on('keyup','#id_email',function(){
        var val=$(this).val();
        $.ajax({
            type:"GET",
            url:'/projects/checkuseremailexists',
            data:{'email':val},
            success: function(data){
                console.log(data)
                if (data.data == 'exists'){
                    swal.fire('EMAIL ALREADY EXISTS')
                    $('.submit-cls').attr('disabled', true);
                }
                else{
                    $('.submit-cls').attr('disabled', false);
                }
            }
        })
    })



    $(function () {
        $("#toggle_pwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
           var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#id_old_password").attr("type", type);
        });
    });

    $(function () {
        $("#toggle_pwd2").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
           var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#id_new_password1").attr("type", type);
        });
    });

    $(function () {
        $("#toggle_pwd3").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
           var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("#id_new_password2").attr("type", type);
        });
    });



    //validation function for old and new passsword same or not
// $(document).on('keyup','#id_new_password1', function() {
// // alert()


// var oldpass=$('#id_old_password').val()
// var newpass=$('#id_new_password1').val()
// console.log(newpass)
// if (oldpass == newpass )
// {
//     // alert()
//   $('#id_new_password1').after('<span class="waring-err"  id="passcheck_error" style="color: red;">Old password and New password is Same</span>')

//   $('#id_new_password1').focus();
// }
// else{

//     $('#passcheck_error').remove()

// }

// });


// $(document).on('click','#id_new_password1', function(e) {
//     $('#oldpasscheck_error').remove()
//     var oldpass=$('#id_old_password').val()
//     var newpass=$('#id_new_password1').val()

//     var userid=$('#getuserid').val()

//     $.ajax({
//             type: "POST",
//             url:"/passwordrestcheck/",
            
//             data: {
//               "oldpass":oldpass,
//               "userid":userid,
//               csrfmiddlewaretoken: '{{ csrf_token }}'
//             },
//             cache: false,
//             success: function(data)
//             {
//                 console.log(data.data)
//                 if(data.data == 'false')
//                 {

//                     $('#id_old_password').after('<span class="waring-err"  id="oldpasscheck_error" style="color: red;">Old password is incorrect</span>')
//                     $('#id_old_password').focus()
//                 }
//                 else
//                 {

//                     $('#oldpasscheck_error').remove()
//                 }
              
              
//             }

//         })





// });


// $(document).on('keyup','#id_new_password1', function(e) {
//     // alert()
// $('#passcheck_error').remove()

//     var oldpass=$('#id_old_password').val()
//     console.log(oldpass)
//     var newpass=$('#id_new_password1').val()
//     console.log(newpass)
//     if (oldpass == newpass )
// {
//     // alert()
//   $('#id_new_password1').after('<span class="waring-err"  id="passcheck_error" style="color: red;">Old password and New password is Same</span>')

//   $('#id_new_password1').focus();
// }


// });





// $(document).on('click','#id_new_password2', function(e) {
//     // alert()
// // $('#newpasscheck_error').remove()

//     var oldpass=$('#id_old_password').val()
//     console.log(oldpass)
//     var newpass=$('#id_new_password1').val()
//     console.log(newpass)
//     if (oldpass == newpass )
// {
//     // alert()

//   $('#id_new_password1').focus();
// }


// });

// $(document).on('keypress','#id_new_password2', function(e) {
//     // alert()
// $('#cnfrmpasscheck_error').remove()
//     var newpass=$('#id_new_password1').val()
//     var cnfmpass=$('#id_new_password2').val()
//     console.log(newpass)
   
//     if (cnfmpass != newpass )
// {
//     // alert()
//     $('#id_new_password2').after('<span class="waring-err"  id="cnfrmpasscheck_error" style="color: red;">New password and Confirm password is not Same</span>')

//   $('#id_new_password2').focus();
//   $('#resetpass').attr('disabled','disabled');
// }
// else{
//     $('#resetpass').removeAttr('disabled');

// }
// });

// $.validator.addMethod("oldpasscheck", function(value, element) {

//     var oldpass=$('#id_old_password').val()
//     var userid=$('#getuserid').val()

//     $.ajax({
//             type: "POST",
//             url:"/passwordrestcheck/",
            
//             data: {
//               "oldpass":oldpass,
//               "userid":userid,
//               csrfmiddlewaretoken: '{{ csrf_token }}'
//             },
//             cache: false,
//             success: function(data)
//             {
//                 console.log(data.data)
//                 if(data.data == 'true')
//                 {

//                     console.log('clear')
                    
//                     return false;
                    
//                 }
//                 else{
//                     console.log('error')
                   
//                      return true;
//                 }
              
              
//             }

//         })

 
// });


$.validator.addMethod("newpasswordcheck", function(value, element) {


    var oldpass=$('#id_old_password').val()
    console.log(oldpass)
    var newpass=$('#id_new_password1').val()
    console.log(newpass)
    if (oldpass == newpass )
{

return false;
}
else
{
    return true;
}


});


$.validator.addMethod("cnfmpasscheck", function(value, element) {


    var newpass=$('#id_new_password1').val()
    var cnfmpass=$('#id_new_password2').val()
    console.log(newpass)
   
    if (cnfmpass != newpass )
{
    // alert()
    
    
    return false
}
else
{

    return true
}


});

$.validator.addMethod("pwcheck", function(value) {
  return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#@$!%*?(){}&])[A-Za-z\d@$!%*?&(){}]{8,}$/.test(value) && /[a-z]/.test(value) && /\d/.test(value) && /[A-Z]/.test(value);
});

$("#edituserid").validate({
    rules: {
        old_password: {
            required: true,
            remote:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                type: "GET",
                url:"/passwordrestcheck/",
                data:{
                    oldpass: function() {
                        return $("#id_old_password").val();
                    }},
                dataFilter: function(data) {
                    console.log(data)
                        let result = JSON.parse(data);
                        console.log(result)
                        let status=result.data
                    if (status == 'false') {
                        
                        return false
                    }
                    if (status=='true'){
                        return true
                    }
                    }
                
            },    
        },
        new_password1: {
          required:true,
        //   minlength: 8,
          newpasswordcheck:true,
          pwcheck:true,
         
        },
        new_password2: {
            required: true,
            cnfmpasscheck: true,
            
        },
       
        

    },
    messages: {
        old_password:{
            required:"Enter the Old Password",
            remote:'Old password incorrect',
            // oldpasscheck:"Invalid Old Password"
           
        },
        new_password1:{
            required:"Enter the New Password",
            newpasswordcheck:"Old password and New password is same",
            pwcheck:"Password should have minimum 8 letters and should have atleast one from A-Z, a-z, 0-9 and special characters",
           
        },
        new_password2:{
            required:"Confirm Password",
            cnfmpasscheck:"Password Mismatch"
            
        },
       errorElement : 'span',
        },
        submitHandler: function(form) {
    $('#submit').attr('disabled', 'disabled');
    Swal.fire({
        position: 'top',
        icon: 'success',
        title: 'Password Reset Successful',
        showConfirmButton: true,
    }).then((result) => {
        if (result.isConfirmed) {
            // If the user clicks "OK", submit the form
            form.submit();
        }
    });
}
});


</script>
{% endblock %}