{% extends "base.html" %}
{% load tz %}
{% load static %}
{% load invoice_custom_tags %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard/clentadmindashboard.css' %}">
<script src="https://code.highcharts.com/highcharts.js"></script>
<div class="row">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Country&#x25BC;</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Projects&#x25BC;</a></li>
        <li class="nav-item"><a class="nav-link" href="#">All Services&#x25BC;</a></li>
        <li class="nav-item"><a class="nav-link" href="#">$-USD&#x25BC;</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Excl.Taxes&#x25BC;</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Period&#x25BC;</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button type="submit" class="btn btn-clr " id="country_btn">Search</button>
      </form>
    </div>
  </nav>

  <div>
    <h5 class="from-head" style="text-transform:capitalize; text-align: left;">Welcome {{request.user.name|default_if_none:"---"}} {{request.user.lastname|default_if_none:"---"}}{% if request.user.loginstatus != 1 %},{% endif %}</h5>
  </div>
  <div>
      <h4>Your last login : <span class="local_time" login_date="{{request.user.login_date}}"></span> {{ request.user.login_date.tzname }}  </h4>
  </div> 
  <div>
    <p >Client Identification Number : <span>{{ request.user.cin_number}}</span></p>
  </div>
</div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#task_overview" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Task Overview</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#project_overview" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Projects Overview</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#invoice_credit_note_summary" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">View Invoice/Credit Note Summary Details</button>
  </li>

  <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#country_wise" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Country-Wise Overview</button>
  </li>
  {% if request.user.id|check_bank_user %}
  {% else %}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#vendor_management" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Vendor Management</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#reports" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Reports</button>
  </li>
{% endif %}
</ul>
<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="task_overview" role="tabpanel" aria-labelledby="task_overview-tab">


</div>
<div class="tab-pane fade show active" id="project_overview" role="tabpanel" aria-labelledby="project_overview-tab">
  <div class="row mx-1 my-4 justify-content-end">
    <div class="col-2">
      <select name="country_filter" id="country_filter" class="form-control form-select list-control">
        <option value=" ">--Select Country--</option>
       
      </select>
    </div>
    <div class="col-2">
      <select name="project_fillter" id="project_id" class="form-control form-select list-control">

        <option value=" ">--Select Project--</option>

      </select>

    </div>
  </div>
  <div class="row mx-1">

    <div class="col-4">
    {% if projectviewrights > 0 %}
      <a href="{% url 'projects:projectlist' %}">
    {% endif %}
    
      <div class="body-dash">
      <h3 class="from-side-head mb-3 text-left">Project Overview</h3>
      <div class="row mb-2">
      
      <div class="col-4">
      <h4>Total</h4><span id ="total_project" >0</span>
    </div>
    <div class="col-4">
      <h4>Active </h4>  <span id="active_project" >0</span>
    </div>
    <div class="col-4">
      <h4>Inactive </h4> <span id= "inactive_project" >0</span>
    </div>

    </div>
    </div>
    {% if projectviewrights > 0 %}
      </a>
    {% endif %}
    
  </div>

    <div class="col-4">
      {% if vendorviewrights > 0 %}
        <a href="{% url 'projects:vendormasterlist' %}">
      {% endif %}

      <div class="body-dash">
      <h3 class="from-side-head mb-3 text-left">Vendors Overview</h3>
      <div class="row mb-2">
      
      <div class="col-4">
      <h4>Total</h4> <span>0</span>
      </div>
      <div class="col-4">
      <h4>Active</h4> <span>0</span>
      </div>
      <div class="col-4">
      <h4>Inactive</h4> <span>0</span>
      </div>

    </div>
    </div>
    {% if vendorviewrights > 0 %}
      </a>
    {% endif %}
    </div>

    <div class="col-4">
    {% if contractmasterviewrights > 0 %}
      <a href="{% url 'projects:contractmasterlist' %}">
    {% endif %}
    
       <div class="body-dash">
      <h3 class="from-side-head mb-3 text-left">Awarded Contracts</h3>
      <div class="row mb-2">
      
      <div class="col-4">
      <h4>Total</h4><span id="total_contract" >0</span>
    </div>
    <div class="col-4">
      <h4>Active</h4><span id="active_contract" >0</span>
    </div>
    <div class="col-4">
      <h4>Inactive</h4><span id="Inactive_contract" >0</span>
    </div>

    </div>
    </div>
    {% if contractmasterviewrights > 0 %}
      </a>
    {% endif %}
    
    </div>
  </div>

</div>
<div class="tab-pane fade" id="invoice_credit_note_summary" role="tabpanel" aria-labelledby="invoice_credit_note_summary-tab">
  <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="invoicesummary-tab" data-bs-toggle="pill" data-bs-target="#invoice_summary" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">View Invoice Summary Details</button>
          
          <button class="nav-link" id="creditnote-tab" data-bs-toggle="pill" data-bs-target="#creditnote_summary" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">View Credit Note Summary Details</button>
          
          <button class="nav-link" id="invoicesummary_chart-tab" data-bs-toggle="pill" data-bs-target="#invoicesummary_chart" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">View Invoice Summary Chart</button>
          
          <button class="nav-link" id="unpaid_overdue_invoice-tab" data-bs-toggle="pill" data-bs-target="#unpaid_overdue_invoice" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">View Unpaid Invoices Vs Days Overdue</button>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="invoice_summary" role="tabpanel" aria-labelledby="invoicesummary-tab">
            <div class="table-responsive" >
              <table class="table irock-table creat-head  usesr-management-section" id="alltaxes_list">
  
                  <thead>
                      <tr>
                          <th colspan="4">Total Amount of all Invoices Submitted (0) <br>0 </th>
                      </tr>
                      <tr>
                        <th colspan="2">Approved Invoice <br> paid(0)  &nbsp; &nbsp; unpaid(0)</th>
                        <th>Invoices Awaiting Approval <br> (0)</th>
                        <th>Disputed Invoices <br> (0)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>(0)</td>
                      <td>(0)</td>
                      <td>(0)</td>
                      <td>(0)</td>
                    </tr>
                    <tr>
                      <td colspan="4">Total Amount Due:0</td>
                    </tr>

                  </tbody>
              </table>
          </div>
          </div>
          <div class="tab-pane fade" id="creditnote_summary" role="tabpanel" aria-labelledby="creditnote-tab">
            <div class="table-responsive" >
              <table class="table irock-table creat-head  usesr-management-section" id="alltaxes_list">
  
                  <thead>
                      <tr>
                          <th colspan="3">Total Amount of all Credit Note Submitted (0) <br> (0)</th>
                      </tr>
                      <tr>
                        <th>Approved Credit Note  <br> (0)</th>
                        <th>Credit Note Awaiting Approval  <br> (0)</th>
                        <th>Disputed Credit Note  <br> (0)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                     
                      <td>(0)</td>
                      <td>(0)</td>
                      <td>(0)</td>
                    </tr>
                  </tbody>
              </table>
          </div>

          </div>
          <div class="tab-pane fade" id="invoicesummary_chart" role="tabpanel" aria-labelledby="invoicesummary_chart-tab">
              

          </div>
          <div class="tab-pane fade" id="unpaid_overdue_invoice" role="tabpanel" aria-labelledby="unpaid_overdue_invoice-tab">
            
          </div>
      </div>
  </div>
</div>

<div class="tab-pane fade" id="country_wise" role="tabpanel" aria-labelledby="country_wise-tab">
  <div class="card country_wise_projects_card">
      <div class="card_body">
       
        <div id="country_wise" style="overflow: scroll;"></div>
        <div id="comp-data"></div>
            <div class="highcharts-figure">
            </div>
        </div>
  </div>

</div>
<div class="tab-pane fade" id="vendor_management" role="tabpanel" aria-labelledby="vendor_management-tab">
  <button type="button" class="btn btn-clr"><a href="{% url 'projects:vendorcontracchecklist' %}">Vendor Queries</a></button>
  <button type="button" class="btn btn-clr"><a href="{% url 'projects:newcontractlist' %}">Vendor Missed Contracts</a></button>
</div>
<div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
  <button type="button" class="btn btn-clr"><a href="{% url 'invoice:listinvoicereport' %}">Reports</a></button>

  

</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        let f = document.getElementById('comp-data');
        let cin_number = f.getAttribute('data-id');
        var scheme = "{{request.scheme}}";
        var gethost = "{{request.get_host}}";
        var currentdomain = scheme + '://' + gethost;
        console.log("currentdomain", currentdomain);

        $.ajax({
            url: "/dashboard/dash_country_viewas",
            type: "GET",
            dataType: "json",
            data: {
                user: cin_number // Assuming 'cin_number' is the user ID
            },
            success: function(data) {
                console.log(data.data);
                Highcharts.chart('country_wise', {
                    chart: {
                        height: '700px'
                    },
                    colors: ['#AF2B50'].concat(Highcharts.getOptions().colors),
                    title: {
                        text: 'Country-Wise Overview'
                    },
                    series: [{
                        type: 'sunburst',
                        data: data.data,
                        name: 'Root',
                        allowDrillToNode: true,
                        borderRadius: 3,
                        cursor: 'pointer',
                        dataLabels: {
                            format: '{point.name}',
                            filter: {
                                property: 'innerArcLength',
                                operator: '>',
                                value: 16
                            }
                        },
                        levels: [{
                            level: 1,
                            levelIsConstant: false,
                            dataLabels: {
                                filter: {
                                    property: 'outerArcLength',
                                    operator: '>',
                                    value: 64
                                }
                            }
                        }]
                    }],
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '{point.name}</b>  <b> {point.value}</b>'
                    }
                });
            },
            error: function(xhr, status, error) {
                console.error("Error:", error);
            }
        });
    });
</script>

<script src="{% static 'js/common/commondate.js' %}"></script>

{% endblock %}
