<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<div class="row sam-col">
  <div class="col-4 wid-ac"></div>
  <div class="col-4 wid-mid">
    <div class="mid-col">
<form action="" method="post" >
    {% csrf_token %}
    <div class="form-group">
        <h3>Reset Your Password</h3>
      <label class="name-lab" for="resetpass">Existing Password</label>
      <input type="seckey" name="oldpass" class="form-control active-inp" id="old_pass" aria-describedby="seckey" placeholder="Enter Your Old Password">
    

      <label class="name-lab" for="newpass">New Password</label>
      <input type="seckey" name="newpass" class="form-control active-inp" id="newpass" aria-describedby="seckey" placeholder="Enter Your New Password">
    

      <label class="name-lab" for="cnfm_pass">Confirm Password</label>
      <input type="seckey" name="cnfm_pass" class="form-control active-inp" id="cnfm_pass" aria-describedby="seckey" placeholder="Enter Your Confirm Password">
    



    <button type="submit" class="btn btn-primary" id="submit" >Reset Password</button>
  </form>
  </div>
  </div>
  </div>
  <div class="col-4 wid-last"></div>
  <style>
    .active-inp {
    width: 100%;
    max-width: 500px;
}

label.name-lab {
    color: #c30000;
}
.mid-col {
    position: absolute;
    top: 250px;
    left: 50px;
    padding: 20px;
    box-shadow: 0px 0px 5px;
}

button#submit {
    background: #d91f1f;
    margin-top: 20px;
    border: none;
}
.row.sam-col {
    display: flex;
}
.col-4.wid-ac {
    width: 33%;
}

.col-4.wid-last {
    width: 33%;
}

.col-4.wid-mid {
    width: 33%;
    position: relative;
}
  </style>
  
</div>

  <script>



//validation function for old and new passsword same or not
$(document).on('keyup','#newpass', function() {

var oldpass=$('#old_pass').val()
var newpass=$('#newpass').val()

if (oldpass == newpass )
{

  $('#newpass').after('<span class="waring-err" style="color: red;">Old password and New password is same</span>')

}

});





$(document).on('change','#seckey', function() {
        var val=$(this).val();
        
        $.ajax({
            type: "GET",
            url:"/seckeychecking/",
            data:{'value':val} ,
            cache: false,
            success: function(data)
            { 
              console.log(data.data);
           
                if (data.data == 'false'){
                    swal.fire('Enter valid key')
    
                    
                    $('#submit').attr('disabled', 'disabled');
                    
                }
                else{
                  
               
                    $('#submit').attr('disabled', false);
                }
            }
        })
    })


  </script>