{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load invoice_custom_tags %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/invoice_details/invoice_approval.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/invoice_details/calculator.css' %}">
<div class="row">
    {% include 'invoicedata.html' %}
    <form method="POST" id="invoiceapproval_form">
            {% csrf_token %}
            <input type='hidden' name='settlement_val' class='settlement_val'>
            <div class="row color-btn justify-content-center my-5">
              {% comment %} {% for rights in roles_rights %} {% endcomment %}
                {% comment %} {% if rights.right.right_name == "Approve Invoice" %}
                  <div class="col-xl-2 col-lg-3 col-md-4 text-center mt-2"> 
                    <button type="button" class="btn btn-clr status_cls green" value="1" data-toggle="modal" data-target="#exampleModalCenter">Approve</button>
                  </div>
                {% endif %} {% endcomment %}
                <!-- {% if rights.right.right_name == "Proceed Invoice" %}
                <div class="col-2 text-center"> 
                  <button type="button" class="btn btn-clr status_cls green" value="2" data-toggle="modal" data-target="#exampleModalCenter">Proceed</button>
                </div>
              {% endif %} -->
                {% comment %} {% if rights.right.right_name == "Return Invoice" %}
                  <div class="col-xl-2 col-lg-3 col-md-4 text-center mt-2"> 
                    <button type="button" class="btn btn-clr status_cls beige" value="3" data-toggle="modal" data-target="#exampleModalCenter">Return</button>
                  </div>
                {% endif %} {% endcomment %}
                {% comment %} {% if rights.right.right_name == "Reject Invoice" %}
                  <div class="col-xl-2 col-lg-3 col-md-4 text-center mt-2"> 
                    <button type="button" class="btn btn-clr status_cls red" value="4" data-toggle="modal" data-target="#exampleModalCenter" >Reject</button>
                  </div>
                {% endif %} {% endcomment %}
                {% comment %} {% if rights.right.right_name == "View/Comment On Invoice" %}
                  <div class="col-xl-2 col-lg-3 col-md-4 text-center mt-2"> 
                    <button type="button" class="btn btn-clr cmt_cls" data-toggle="modal" data-target="#exampleModalCenter">Comment</button>
                  </div>
                {% endif %}

              {% endfor %} {% endcomment %}
              <div class="col-xl-2 col-lg-3 col-md-4 text-center mt-2"> 
                <button type="button" class="btn btn-clr status_cls green" value="1" data-toggle="modal" data-target="#exampleModalCenter" >UnDispute</button>
              </div>
              {% if settlement_count == 0 %}
              <div class="col-xl-2 col-lg-3 col-md-4 text-center mt-2"> 
                <button type="button" class="btn btn-clr status_cls red" value="10" data-toggle="modal" data-target="#exampleModalCenter" >Settlement</button>
              </div>
              {% endif %}

                {% comment %} <div class="col-xl-2 col-lg-3 col-md-4 text-center mt-2"> 
                  <button type="button" class="btn btn-clr beige calbtn" value="2" data-toggle="modal" data-target="#exampleModalCenter2">Calculator</button>
              </div> {% endcomment %}
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header comment-head">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Comments</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body comment-body get_reason">
                        <textarea name="main_comments" class="form-control">
                        </textarea>
                      </div>
                    <div class="modal-footer comment-foot">
                      <button type="button" class="btn btn-secondary" id="submit_id">Save</button>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- <div class="modal fade calculator-draggable calc-wid" id="exampleModalCenter2" data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" data-backdrop="static"  data-keyboard="false" role="document">
                  <div class="modal-content" data-backdrop="static" style="height: 700px;width:450px">
                    <div class="modal-header comment-head">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Calculator</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
        
                    <div class="modal-body calc-body" >
                      <iframe src="{% url 'invoice:calculator' %}" title="description"></iframe>
                    </div>
        
                    <div class="modal-footer comment-foot">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Save & Close</button>
                    </div>
                    </div>
                </div>
              </div> -->

              {% comment %} <div class="modal fade calculator-draggable calc-wid" id="exampleModalCenter2" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false" role="document">
                  <div class="modal-content" data-backdrop="static">
                    
                    <div class="modal-header comment-head">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Calculator</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
        
                    <div class="modal-body calc-body">
                      <iframe src="{% url 'invoice:calculator' %}" title="description"></iframe>
                    </div>
        
                    <div class="modal-footer comment-foot">
                      <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Save & Close</button> -->
                    </div>
                    </div>
                </div>
              </div> {% endcomment %}
        </form>
    </div>

{% endblock %}  

{% block scripts %}
{{ block.super }}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.228/pdf.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(function () {
  
    $(".calculator-draggable").draggable();
  });
  
var invoiceid="{{pk}}" 
var scheme="{{request.scheme}}"
var gethost="{{request.get_host}}"
var currentdomain=scheme+'://'+gethost
var package_src = "{% static 'js/web/viewer.html' %}"
</script>
<script src="{% static 'js/invoice/invoiceflowprocesstwo.js' %}"></script>
{% endblock %}
