{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load invoice_custom_tags %}
{% load wcc_custom_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendor-login/invoice.css' %}">


        <div class="row">
            <div class="col-12 text-end">
                {% if status_type == 1%}
                <button class="btn btn-clr waves-effect waves-float waves-light" ><a href="{% url 'invoice:editinvoicesteptwo' pk=pk status=1 %}{% if wcc_id != None %}?wcc_id={{wcc_id}}{% endif %}">Back</a></button>
                {% endif %}
        </div>
        </div>

        <div class="">

        <h3 class="from-head">Checklist and Uploads</h3>
    
       
        <form method="POST" id="invfileadd" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="table-responsive text-nowrap">
            <table id="id_checklist" class="cre-invoice3 doc-uploads">
                <thead>
                    <tr>
                        <th></th>
                        <th class="head-inv3 first-col">Document Name</th>
                        <th class="head-inv3 second-col">Uploads</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Invoice No</td>
                        <td>
                            <input type="hidden" name="checksupportfile" value="1">
                            {%for costinvoice in contractcostinvoice %}
                            
                                <div><label>{{costinvoice.invoice_number}}</label><input type="file"  accept="image, .png, .jpeg, .pdf, .jpg" name="files{{costinvoice.id}}" class="inv-main-file invfil form-control inp-voice3 inv-wid-red filesize"><span class="maxmp">(Max: 25MB)</span><br><span class="file-error-message"></span>
                                    <span style="color: red;" class="error-message"></span> 
                                    <input type="hidden" name="invoicecostinvoice" value="{{costinvoice.id}}">
                                    
                                </div>
                                <div class="color-fil"><input type="hidden" name="hdnfileid" class="invoicefile" value="{{costinvoice.id|getinvoicefileid:costinvoice.invoice.id}}">{{costinvoice.id|getinvoicefile:costinvoice.invoice.id}}</div>
                            {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <!-- wcc_class -->
                        <td><input type="checkbox" class="checkfile wrk-main" name="checksupportfile" {% getinvoicesupportfile pk 2 as supportfiles %} {% if supportfiles > 0 or all_work_completions|length > 0 %} checked {% else %} {% if supportfiles.1  %} checked {% else %}  {% endif %} {% endif %} {% if wcc_id %} checked wcc_id="{{wcc_id|default_if_none:"---"}}" {% endif %} value="2"></td>
                        <td>
                            Work Completion Certificates
                            
                            <div class="wcc-cls" {% if supportfiles.1 > 0 or all_work_completions|length > 0 %} {% else %} {% endif %} >
                                <!-- <label>Value</label><i class="fa fa-info-circle icon_cls" title= "WCC Value should match with total value of invoice Submitted" aria-hidden="true"></i> -->
                                <table class="work_comp_table"><tbody>
                                  {% if all_work_completions|length > 0 %}
                                    {% for i in all_work_completions %}
                                    <tr><td><input type="hidden" name='workcompletionid'value='{{i.id}}' class="work_hdid"><input type="text" name="workcomplete" class="workvalcls work_cls" value="{{i.workcompletion|default_if_none:'213'}}" {% if wcc_id %} readonly {% endif %}></td>
                                        {% comment %} <td class="che-smline"><button id="add_file" class="btn btn-clr add-btn workcomp" type="button" value="add"><i class="fa fa-add"></i></button> <button id="remove_file" class="btn btn-clr add-btn" type="button"  value="minus"><i class="fa fa-minus"></i></button></td> {% endcomment %}
                                     {% endfor %}
                                    </tr>
                                       <!-- {% if supportfiles.1 > 0 or workcompletionvalue %}
                                            {% for i in all_work_completions %}
                                            <tr><td><input type="hidden" name='workcompletionid'value='{{i.id}}' class="work_hdid"><input type="text" name="workcomplete" class="workvalcls work_cls" value="{{i.workcompletion|default_if_none:''}}" {% if wcc_id %} readonly {% endif %}></td> -->
                                                 <!-- <td class="che-smline"><button id="add_file" class="btn btn-clr add-btn workcomp" type="button" dataid="{{i.id}}" value="add"><i class="fa fa-add"></i></button> <button id="remove_file" class="btn btn-clr add-btn" type="button" dataid="{{i.id}}" value="minus"><i class="fa fa-minus"></i></button></td>  -->
                                            <!-- </tr> -->
                                        <!-- {% endfor %}
                                        {% endif %} -->
                                    {% else %}
                                    {% if wcc_id %}
                                    {% getwccvalues wcc_id as wccvalues %}
                                    
                                       <div><input type="hidden" name='workcompletionid'value="" class="work_hdid"><input type="text" name="workcomplete" class="workvalcls work_cls" value="{{wccvalues.wcc_amount|wccvalues}}"></div>
                                            <!-- <td class="che-smline"><button id="add_file" class="btn btn-clr add-btn workcomp" type="button" value="add"><i class="fa fa-add"></i></button> <button id="remove_file" class="btn btn-clr add-btn" type="button"  value="minus"><i class="fa fa-minus"></i></button></td> </tr> -->
                                    {% endif %}
                                    {% endif %}

                                </tbody></table>
                            </div>
                            <!-- <input type="hidden" name="invoicecostinvoice" value=""> -->
                        </td>
                        <td>
                            <div class="inv-file-cls">
                                {% getwccvalues wcc_id as wccvalues %}
                                {% if wcc_id %}
                                <div class="colr-filename">
                                        <a target="_blank" href="{{wccvalues.wcc_file.url}}">{{wccvalues.wcc_file_name|cut:"wccfile/"}}</a>
                                    </div>
                                    <table class="che-table"><tbody><tr><td><input type="file"  accept="image, .png, .jpeg, .pdf, .jpg" name="file2" class="form-control filecls inp-voice3 filesize"><span class="maxmp">(Max: 25MB)</span><br><span class="file-error-message"></span></td> <td class="in-btn-wid che-smline wid-but"><button id="add_file" class="btn btn-clr add-btn" type="button" dataid="2" value="add"><i class="fa fa-add"></i></button> <button id="remove_file" class="btn btn-clr add-btn" type="button" dataid="2" value="minus"><i class="fa fa-minus"></i></button></td> </tr></tbody></table>
                                
                                {% endif %}
                                
                                {% getinvoicesupportfile pk 2 as supportfiles %}
                                        {% for file in supportfiles.0 %}

                                            <div class="colr-filename"><input type="hidden" class="supportingfile" name="hdnfileid" value="{{file.id}}">
                                              
                                                <!-- <span>{{file.file_name|cut:"invoicedocuments/"}}</span> -->
                                                <a target="_blank" href="\media\{{file.support_file}}">{{file.file_name|cut:"invoicedocuments/"}}</a>
                                                <i class="fa fa-close remove-file" style="font-size:24px"></i>
                                            </div>
                                    
                                        {% endfor %}
                            </div>
                            <div class="addfilecls">
                                
                                {% if supportfiles.1 > 0 or workcompletionvalue %}
                                    <table class="che-table"><tbody><tr><td><input type="file"  accept="image, .png, .jpeg, .pdf, .jpg" name="file2" class="form-control filecls inp-voice3 filesize"><span class="maxmp">(Max: 25MB)</span><br><span class="file-error-message"></span></td> <td class="in-btn-wid che-smline wid-but"><button id="add_file" class="btn btn-clr add-btn" type="button" dataid="2" value="add"><i class="fa fa-add"></i></button> <button id="remove_file" class="btn btn-clr add-btn" type="button" dataid="2" value="minus"><i class="fa fa-minus"></i></button></td> </tr></tbody></table>
                                {% endif %}
                            </div>
                        </td>
                    </tr>



                    {% for files in wcc_files %}
                        <tr>
                            {% getwccsupportfile wcc_id files.data as wcc_supportfiles %}
                            {% getinvoicesupportfile pk files.data as supportfiles %}
                                <td><input type="checkbox" class="checkfile"  {% if wcc_supportfiles.1 > 0 or supportfiles.1 > 0 %} checked {% endif %} name="checksupportfile" {% if wcc_supportfiles.1%} wcc_id="{{wcc_id}}" {% endif %} value="{{files.data}}"></td>
                                <td>
                                    {{files.name}}
                                </td>
                                <td class="addfilecls">
                                    <div class="inv-file-cls">
                                        {% for file in wcc_supportfiles.0 %}
                                            <div class="colr-filename"><input type="hidden" class="supportingfile" name="hdnfileid" value="{{file.id}}">
                                                <!-- <span>{{file.wcc_support_file|cut:"wccfile/"}}</span> -->
                                                <a target="_blank" href="{{file.wcc_support_file.url}}">{{file.wcc_support_file_name|cut:"wccfile/"}}</a>
                                                <!-- <i class="fa fa-close remove-file" style="font-size:24px"></i> -->
                                                </div>
                                        {% endfor %}
                                        {% for file in supportfiles.0 %}
    
                                        <div class="colr-filename"><input type="hidden" class="supportingfile" name="hdnfileid" value="{{file.id}}">
                                            <a target="_blank" href="\media\{{file.support_file}}">{{file.file_name|cut:"invoicedocuments/"}}</a><i class="fa fa-close remove-file" style="font-size:24px"></i>

                                        </div>
                                        {% endfor %}
                                        
                                    </div>

                                    <div class="addfilecls">
                           
                                        {% if supportfiles.1 > 0 or wcc_supportfiles.1 > 0 %}
                                            <table class="che-table"><tbody><tr><td><input type="file" accept="image, .png, .jpeg, .pdf, .jpg" name="file{{files.data}}" class="form-control filecls inp-voice3 filesize"><span class="maxmp">(Max: 25MB)</span><br><span class="file-error-message"></span></td> <td class="in-btn-wid che-smline wid-but"><button id="add_file" class="btn btn-clr add-btn" type="button" dataid="{{files.data}}" value="add"><i class="fa fa-add"></i></button> <button id="remove_file" class="btn btn-clr add-btn" type="button" dataid="{{files.data}}" value="minus"><i class="fa fa-minus"></i></button></td> </tr></tbody></table>
                                        {% endif %}
                                    </div>
                                </td>
                        </tr>        
                        {% endfor %}

                    <tr>
                        <td></td>
                        <td>
                            Original Contract
                        </td>
                        <td>
                            <div class="row">
                                {% getoriginalcontract_price_files contract contracttype 1 as contract_files %}
                                <div class="col-6"> 
                                    <ul class="view-ul">
              
                                        {% for contract_file in contract_files %}
                                        <li>
                                            <a target="_blank"  class="link-file" href="{% url 'invoice:view_contractfiles' pk=contract_file.id %}">{{ contract_file.original_file_name }}</a>
                                        </li>
              
                                {% empty %}
              
                                {% endfor %}
                              </ul>
                              </div>
                        
                        </td>
                    </tr>
                    {% if contracttype != 'original' %}
                    <tr>
                        <td></td>
                        <td>
                            {{contracttype|capitalize_letter}} Contract
                        </td>
                        <td>
                            <div class="row">

                                {% getamendmentcontract_price_files contract contracttype 1 as contract_files %}
                                <div class="col-6"> 
                                    <ul class="view-ul">
              
                                        {% for contract_file in contract_files %}
                                        <li>
                                            <a target="_blank"  class="link-file" href="{% url 'invoice:view_contractfiles' pk=contract_file.id %}">{{ contract_file.original_file_name }}</a>
                                        </li>
              
                                {% empty %}
              
                                {% endfor %}
                              </ul>
                              </div>
                        
                            </div>
                            
                       
                        </td>
                    </tr>
                    {%endif%}
                  
                    <tr>
                        <td></td>
                        <td>
                            Original Price Table
                        </td>
                        <td>
                        
                            {% getoriginalcontract_price_files contract contracttype 2 as price_files %}
                            <div class="col-6"> 
                                <ul class="view-ul">
          
                                    {% for price_file in price_files %}
                                    <li>
                                        <a target="_blank"  class="link-file" href="{% url 'invoice:view_contractfiles' pk=price_file.id %}">{{ price_file.original_file_name }}</a>
                                    </li>
          
                            {% empty %}
          
                            {% endfor %}
                      </ul>
                    </div>
  
                          
                        </td>
                    </tr>
                    {% if contracttype != 'original' %}
                    <tr>
                        <td></td>
                        <td>
                            {{contracttype|capitalize_letter}} Price Table
                        </td>
                        <td>
                            <div class="row">

                                {% getamendmentcontract_price_files contract contracttype 2 as price_files %}
                                <div class="col-6"> 
                                    <ul class="view-ul">
              
                                        {% for price_file in price_files %}
                                        <li>
                                            <a target="_blank"  class="link-file" href="{% url 'invoice:view_contractfiles' pk=price_file.id %}">{{ price_file.original_file_name }}</a>
                                        </li>
              
                                {% empty %}
              
                                {% endfor %}
                              </ul>
                              </div>
                        
                            </div>
                            
                       
                        </td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
            <div class="text-center btn-cls">
             
                <button name="submit_type" type="submit" id="draftsub" class="btn btn-clr text-left generate_report_3" value="0">Save as Draft</button>
                <button type="submit" id="final_Save_id" value="3" class="generate_report_3 dis-cls btn btn-clr text-left work" {% if created_inv_count != vendorinvoice %} disabled="true" {% endif %}>Save and Submit</button>
                <button name="submit_type" type="submit" id="id_file_save" class="dis-cls btn btn-clr text-left final-cls work" value="0">Preview</button>  
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

var totalinvoicevalue="{{totalinvoicevalue}}"
</script>

<script>
// $(window).keydown(function(event){
//     if(event.keyCode == 13) {
//       event.preventDefault();
//       return false;
//     }
//   });
  

// function save_func(){
//     $('.workvalcls').removeClass('add-error-cls')
//     var count=0
//     var workvalue=$('.workvalcls').val()
//     if ($('#id_checklist tbody tr').eq(1).find('.checkfile').is(':checked')){
//         if ($('.supportingfile').val() == ""){
//             $('.workvalcls').addClass('add-error-cls')
//             count ++;
//         }
//         else{
//             $('.workvalcls').removeClass('add-error-cls')
//         }
//         //else if(workvalue != totalinvoicevalue){
//         //    $('.workvalcls').addClass('add-error-cls')
//         //    count ++;
//         //}
//     }
//     $('.invoicefile').each(function(){
//         if ($(this).val() == ""){
//             $(this).addClass('add-error-cls')
//             count ++;
//         }
//         else{
//             $(this).removeClass('add-error-cls')
//         }
//     })
//     $('.inv-main-file').each(function(){
//         var val=$(this).val()
//         if (val == ""){
//             var value=$(this).closest('div').next('div').find('input[type=hidden]').val()
//             if (value == ''){
//                 $(this).addClass('add-error-cls')
//                 count ++;
//             }

//         }
//         else{
//             $(this).removeClass('add-error-cls')
//         }
//     })

//     return count
// }

// $(document).on('click','#id_file_save',function(e){
//     e.preventDefault()
//     $('.workvalcls').removeClass('add-error-cls')
//     var sum = 0;
//     $('.workvalcls').each(function(){
//         var value = $(this).val().replace(/,/g , '');
//         // add only if the value is number
//         if(!isNaN(value) && value.length != 0) {
//             sum += parseFloat(value);
//         }
//     });
//     /*if ($('.wrk-main').is(':checked')){
//     if (Number(sum) != Number(totalinvoicevalue.replace(/,/g , ''))){
//         swal.fire('WCC Value should match with total value of invoice Submitted')
//         //$(this).addClass('add-error-cls')
//         //$(this).val('')
//         return false
//         // $('.dis-cls').attr('disabled',true) 
//     }
//     else{
//         //return true
//         //$(this).removeClass('add-error-cls')
//         // $('.dis-cls').removeAttr('disabled')
//     }
// }*/
//     var error_value=save_func()
//     if (error_value == 0){
//         $("<input>").attr({name: "submit_type",id: "hiddenId",type: "hidden",value: 1}).appendTo("form");
//         $('#invfileadd')[0].submit()
//     }
//     // alert(count)
// })

// $(document).on('click','#final_Save_id',function(e){
//     e.preventDefault()
//     var error_value=save_func()
//     var sum = 0;
//    $('.workvalcls').each(function(){
//        var value = $(this).val().replace(/,/g , '');
//        // add only if the value is number
//        if(!isNaN(value) && value.length != 0) {
//            sum += parseInt(value);
//        }
//    });
//    console.log(sum,23456)
//    /*if ($('.wrk-main').is(':checked')){
//     if (Number(sum) != Number(totalinvoicevalue.replace(/,/g , ''))){
//         swal.fire('WCC Value should match with total value of invoice Submitted')
//         //$(this).addClass('add-error-cls')
//         //$(this).val('')
//         return false
//         // $('.dis-cls').attr('disabled',true) 
//     }
//     else{
//         //return true
//         //$(this).removeClass('add-error-cls')
//         // $('.dis-cls').removeAttr('disabled')
//     }}*/
//     // alert(error_value)
//     if (error_value == 0){
//         Swal.fire({
//                 text: 'Do You Want to Submit Invoice?',
//                 showDenyButton: true,
//                 // showCancelButton: true,
//                 // textColor:'#77d61f',
//                 confirmButtonColor: '#77d61f',
//                 denyButtonColor:'#AF2B50',
//                 confirmButtonText: 'Yes',
//                 denyButtonText: 'No',
//                 customClass: {
//                 actions: 'my-actions',
//                 //   cancelButton: 'order-1 right-gap',
//                 confirmButton: 'order-2',
//                 denyButton: 'order-3',
//                 }
//             }).then((result) => {
//                 if (result.isConfirmed) {
//                     $("<input>").attr({name: "submit_type",id: "hiddenId",type: "hidden",value: 3}).appendTo("form");
//                     $('#invfileadd')[0].submit()
//                     // window.location.href = '../invoicelist';
//                     return true;
//                 }
//         })
//     }
// })


//   $(document).on('change','.inv-main-file',function(){
//     var count=0
//     var workvalue=$('.workvalcls').val()
//     // alert(workvalue)
//     var wccfile=$(this).closest('tr').next('tr').find('.checkfile').is(':checked')
//     // $('.inv-main-file').each(function(){
//     //     var val=$(this).val()
//     //     if (val == ""){
//     //         $(this).addClass('add-error-cls')
//     //         count ++;
//     //     }
//     //     else{
//     //         $(this).removeClass('add-error-cls')
//     //     }
//     // })
//     if (wccfile == true){
//         if (workvalue == ""){
//             $('.workvalcls').addClass('add-error-cls')
//             count ++;
//         }
//     }

//     console.log(count)
//     if (count > 0){
//         $('.dis-cls').attr('disabled',true) 
//     }
//     else{
//         $('.dis-cls').removeAttr('disabled')
        
        
//     }
// })

// $(document).on('click','.checkfile',function(){
//     var val=$(this).val()
//     if ($(this).is(':checked')){
//         if (val == "2"){
//             // $('.wcc-cls').removeAttr('style')
//             var html='<table class="work_comp_table"><tbody> <tr><td><input type="hidden" name="workcompletionid" value="" class="work_hdid"><input type="text" name="workcomplete" class="workvalcls work_cls" value=""></td> <td class="che-smline"><button id="add_file" class="btn btn-clr add-btn workcomp" type="button" value="add"><i class="fa fa-add"></i></button> <button id="remove_file" class="btn btn-clr add-btn" type="button"  value="minus"><i class="fa fa-minus"></i></button></td> </tr></tbody></table>'
//             $('.icon_cls').after(html)
//             // $('.dis-cls').attr('disabled',true) 
//         }
//         else{
//         }
//         var html ='<table class="che-table"><tbody><tr><td><input type="file" accept="image, .png, .jpeg, .pdf, .jpg" name="file'+val+'" class="form-control filecls inp-voice3"><span class="maxmp">(Max: 25MB)</span><br><span class="file-error-message"></span></td> <td class="in-btn-wid che-smline"><button id="add_file" class="btn btn-clr add-btn" type="button" dataid="'+val+'" value="add"><i class="fa fa-add"></i></button> <button id="remove_file" class="btn btn-clr add-btn" type="button" dataid="'+val+'" value="minus"><i class="fa fa-minus"></i></button></td> </tr></tbody></table>'
//         $(this).closest('tr').find('.addfilecls').html(html)
//     }
//     else{
//         console.log('a',$('.wrk-main').is(':checked'))
//         if ($('.wrk-main').is(':checked')){
//         }
//         else{
//             $(".work_comp_table").remove()
//             // $('.wcc-cls').css('display','none')
//         }
//         // $('.workvalcls').val('')
//         $(this).closest('tr').find('.addfilecls').html('')
//         // $('.dis-cls').removeAttr('disabled') 
//     }
// })


// $(document).on('click','#add_file',function(){
//     var html=$(this).closest('tr');
//     console.log('html',html)
//     var empty_file=html.clone();
//     empty_file.find(':file').val('');
//     html.after(empty_file);
//     //$(this).closest('table').append(html)
//     $('.work_comp_table').find('tr:last td:eq(0) .work_hdid').val('')
//     $('.work_comp_table').find('tr:last td:eq(0) .workvalcls').val('')
//     $('.work_comp_table').find('tr:last td:eq(0) .filecls').val('')
// })

// $(document).on('click','#remove_file',function(){
//     var table_len=$(this).closest('table').find('tr').length;
//     console.log(table_len)
//     if (table_len >1){
//         $(this).closest('tr').remove()
//     }

// })

// // $(document).on('change','.workvalcls',function(){
// //     var val=$(this).val()
// //     var removecomma=totalinvoicevalue.replace(/,/g , '')
// //     if (removecomma !=val){
// //         swal.fire('Value Mismatch')
// //         $(this).addClass('add-error-cls')
// //     }
// //     else{
// //         $(this).removeClass('add-error-cls')
// //     }
// // })
// function numberWithCommas(x) {
//     return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
// }
// /*$(document).on('click','#draftsub',function(e){
//     e.preventDefault()
//     var error_value=save_func()
//     alert(error_value)
//     if (error_value == 0){
//         return true
//     }
// })*/

// $(document).on('click','.work',function(e){
//     // jquery each function to get all the values of the input fields
//     var sum = 0;
//     $('.workvalcls').each(function(){
//         var value = $(this).val().replace(/,/g , '');
//         // add only if the value is number
//         if(!isNaN(value) && value.length != 0) {
//             sum += parseFloat(value);
//         }
//     });
//     var val=$(this).val()
//     var count=0 
//     var remove_comma_current_val=val.replace(/,/g , '')
//     var add_comma=numberWithCommas(remove_comma_current_val)
//     $(this).val(add_comma)
//     // alert(add_comma)
//     // var removecomma=totalinvoicevalue.replace(/,/g , '')
//     if (val == ""){
//         count ++;
//     }
//     //$('.inv-main-file').each(function(){
//     //        var val=$(this).val()
//     //        if (val == ""){
//     //            $(this).addClass('add-error-cls')
//     //            count ++;
//     //        }
//     //        else{
//     //            $(this).removeClass('add-error-cls')
//     //        }
//     //    })
//     // alert(count)
//     if (count > 0){
//         // swal.fire('Invoice File Missing or Wcc Value Missing')
//         // $('.dis-cls').attr('disabled',true) 
//     }
//     else{
//         // $('.dis-cls').removeAttr('disabled')
        
//     }
//     console.log(sum,123456)
// /*    if ($('.wrk-main').is(':checked')){
//     if (Number(sum) != Number(totalinvoicevalue.replace(/,/g , ''))){
//         swal.fire('WCC Value should match with total value of invoice Submitted')
//         //$(this).addClass('add-error-cls')
//         //$(this).val('')
//         return false
//         // $('.dis-cls').attr('disabled',true) 
//     }
//     else{
//         return true
//         //$(this).removeClass('add-error-cls')
//         // $('.dis-cls').removeAttr('disabled')
//     }}*/
// })

// $(document).on('change','.invfil',function(){
//     if ($(this).val() != ""){
//         $(this).closest('div').next('div').remove()
//     }
// })

// $(document).on('click','.remove-file',function(){
//     $(this).closest('div').remove()
// })



// //     e.preventDefault()
// //     var count=0
// //     var checkwork=$('.workvalcls').closest('tr').find('.checkfile').is(":checked")
// //     if (checkwork == true){
// //         if ($('.workvalcls').val() != totalinvoicevalue){
// //             count ++;
// //         }
// //     }
// //     if (count == 0 ){
// //     Swal.fire({
// //             text: 'Are you sure you wish to submit?',
// //             showDenyButton: true,
// //             // showCancelButton: true,
// //             // textColor:'#77d61f',
// //             confirmButtonColor: '#77d61f',
// //             denyButtonColor:'#AF2B50',
// //             confirmButtonText: 'Yes',
// //             denyButtonText: 'No',
// //             customClass: {
// //               actions: 'my-actions',
// //             //   cancelButton: 'order-1 right-gap',
// //               confirmButton: 'order-2',
// //               denyButton: 'order-3',
// //             }
// //           }).then((result) => {
// //             if (result.isConfirmed) {
// //                 $("<input>").attr({name: "submit_type",id: "hiddenId",type: "hidden",value: 0}).appendTo("form");
// //                 $('#invfileadd')[0].submit()
// //                 return true;
// //             //   var current_url=$(location).attr("href")
// //             //   var replace_url=current_url.replace("createmaster/",'createblock/'+project_id+'')
// //             //   window.location.href = replace_url;
// //                 // $(".step-1").hide();
// //                 // $(".step-2").show();
// //             //   Swal.fire('Saved!', '', 'success')
// //             } else if (result.isDenied) {
                
// //             //   var current_url=$(location).attr("href")
// //             //   var replace_url=current_url.replace("createmaster/","listmaster/")
// //             //   window.location.href = replace_url;
// //               // Swal.fire('Changes are not saved', '', 'info')
// //             }
// //           })
// //         }
// // })

//     // $(document).on('click','.final-cls',function(){
//     //     var filecount=$('.color-fil').children().length
//     $(document).on('change','.work_cls',function(){
//         $(this).next('span').remove();
//         var val=$(this).val()
//         // if (val!='No Max Limit')
//         // {
//         $(this).val(val.replace(/([-€~!@#$%^&*()_+=`{}\[\]\|\\:;'<>A-Za-z])+/g, ''));
//         // }
       
//         // var number=$(this).val()
//         // if ( number !=''){
//         //     if (number==0){
//         //         $(this).after('<span class="waring-err">Value cannot be Zero</span>')
//         //     }
//         //     else{
//         //         $(this).next('span').remove();
//         //     }
//         // }
//         // else{
//         //     $(this).next('span').remove();
//         // }
//         $(".work_cls").each(function() {
//             var num = $(this).val();
//             var removecomma=num.replace(/,/g, '');
//             var commaNum = numberWithCommas(decimal_value(removecomma));
//             $(this).val(commaNum);
//         });
//         if($(this).val().indexOf('.')!=-1){         
//             if($(this).val().split(".")[1].length > 2){                
//                 if( isNaN( parseFloat( this.value ) ) ) return;
//                 this.value = parseFloat(this.value).toFixed(2);
//             }  
//          }            
//          return this; //for chaining
//     });

//     function decimal_value(val){
//     if (val != ''){
//         var con_val=val.toString()
//         var remove_commas= con_val.replace(/,/g, "");
//         console.log(remove_commas)
//         if (remove_commas == Math.floor(remove_commas)){
//             return remove_commas
//         }
//         else{
//             return parseFloat(remove_commas).toFixed(2)
//         }
//     }
//     else{
//         return val
//     }


// }

// function numberWithCommas(number) {

// var parts = number.toString().split(".");

// parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
// console.log(parts)
// return parts.join(".");
// }
$(document).ready(function() {
        $('.filesize').change(function() {
            const maxFileSize = 25 * 1024 * 1024; // 25MB in bytes
            const fileSize = this.files[0].size;
            if (fileSize > maxFileSize) {
                $(this).siblings('.file-error-message').text('*File size exceeds the maximum limit (25MB). Please choose a smaller file.');
                $(this).val(''); // Clear the file input
            } else {
                $(this).siblings('.file-error-message').text(''); // Clear any previous error message
            }
        });
    });
</script>
<script type="text/javascript" src="{% static 'js/invoice/editinvoicestepthree.js' %}"></script>
{% endblock %}\\\\\\\\\\\\