{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load invoice_custom_tags %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/projects/createflow.css' %}">
<button type="button" class="btn btn-clr btn-master chck-tst"><a href="{% url 'invoice:listinvoicereport' %}">Back</a></button>
<button type="button" class="btn btn-clr btn-master"><a target="_blank" href="{% url 'invoice:generateinvoicereport' pk=pk %}">Download</a></button>
<section id="data-list-view" class="data-list-view-header">
    <h3 class="from-head">{{invoice.reportname}}</h3>
<div class="table-responsive text-nowrap inv-table_wid">
    <table class="table prj-back_clr settings-data-list-view data-list-view invoicelist tot-in irock-table invoicevendor-table" id="master_project_list">
        <thead >
            <tr >
                <th>S/N</th> 
                <th>Vendor Name</th>  
                <th>Invoice No</th>   
                <th>Country</th>   
                <th>Project Name</th>
                <th>Project Discipline</th>  
                <th>Type of Service</th>  
                <th>Invoice Date</th>
                <th>Submitted Date</th>
                <th>Gross Amount(Inclusive of all Taxes)</th>
                <th>Taxes</th>
                <th>Net Amount Payable</th>
                <th>Approval Status</th>
                <th>Approval/Disputed Date</th>
                <th>Payment Status</th>
                <th>Payment Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody class="table-list">
            {% if invoice_count == 0 %}
            <tr>
                <td colspan="9" class="cls-nil">
                  ---
                </td>
              </tr>   
              {%else%}
            {% for invoice in allinvoices %}
           
            <tr>
                <td class="snocls"></td>
                <td>{{invoice.vendor.vendor_name}}</td>
                <td class="t-sub-data">
                    {%for costinvoice in invoice.id|getinvoices %}
                    <div class="cos-in-nu">{{costinvoice.invoice_number}}</div>
                    {% empty %}
                    <div>---</div>
                    {% endfor %}
                </td>
                {%getcountry invoice.id as country%}
                <td>{{country|default_if_none:"---"}}</td>
                <td>{{invoice.project_name}}</td>
                <td>{%getprojectdiscipline invoice.id as discipline%}{{discipline}}</td>
                <td>{{invoice.types_service}}</td>
                <td class="t-sub-data">
                    {%for costinvoice in invoice.id|getinvoices %}
                    <div class="cos-in-nu">{{costinvoice.invoice_date}}</div>
                    {% empty %}
                    <div>---</div>
                    {% endfor %}
                </td>
                <td class="text-center text-wrap"> 
                    {%for costinvoice in invoice.id|getinvoices %}
                    <div>{{costinvoice.invoice_submission_date|confulldate:costinvoice.invoice.company.id|default_if_none:"---"}}</div>
                    {% empty %}
                    <div>---</div>
                    {% endfor %}
                </td>
                <td class="grossamount">{%for costinvoice in invoice.id|getinvoices %}
                     {% invoicegrossamount costinvoice.id as invdisval %}
                       <div>{{invdisval}}</div>
                    {% empty %}
                    <div>---</div>
                    {% endfor %}
                </td>
               
                <td>{%for costinvoice in invoice.id|getinvoices %}
                    {% invoicetaxamount costinvoice.id as invdisval %}
                      <div>{{invdisval}}</div>
                   {% empty %}
                   <div>---</div>
                   {% endfor %}</td>
                <td>
                    {%for costinvoice in invoice.id|getinvoices %}
                     {% invoicegrossamount costinvoice.id as invdisval %}
                     {% invoicetaxamount costinvoice.id as invdistax %}
                       <div>{{invdisval|addvalues:invdistax}}
                        {%with total=invdisval|addvalues:invdistax%}{%with dem=total|add:request%}{%endwith%}{% endwith %}</div>
                    {% empty %}
                    <div>---</div>
                    {% endfor %}
                </td>
                <td class="text-left ">
                            {%for costinvoice in invoice.id|getinvoices %}
                                <div>{% if costinvoice.approval_status == 0 and invoice.invoice_status == 1 %} Disputed {% elif costinvoice.approval_status == 1 and invoice.invoice_status == 2 %} Awaiting Approval {% elif costinvoice.approval_status == 1 and invoice.invoice_status == 1 %} Not Yet Submitted {% elif costinvoice.approval_status == 4 and invoice.invoice_status == 4 %} Returned {% elif costinvoice.approval_status == 5 and invoice.invoice_status == 5 %} Rejected {% else %} Approved {% endif %}</div>
                                {% empty %}
                                <div>---</div>
                            {% endfor %}

                </td>
                <td class="text-center text-wrap">
                    {%for costinvoice in invoice.id|getinvoices %}
                    <div>{% if costinvoice.approval_date == "" or costinvoice.approval_date == None %} N/A {% else %} {{costinvoice.approval_date|confulldate:costinvoice.invoice.company.id}}{% endif %}</div>
                    {% empty %}
                    <div>---</div>
                    {% endfor %}
                </td>
                <td class="vin_left text-wrap">
                    {%for costinvoice in invoice.id|getinvoices %}
                    <div>{% if costinvoice.payment_status == 1 %} Unpaid {% else %}  Paid {% endif %}</div>
                    {% empty %}
                    <div>---</div>
                    {% endfor %}
                </td>
                <td >
                    {%for costinvoice in invoice.id|getinvoices %}
                    <div>{% if costinvoice.payment_date == "" or costinvoice.payment_date == None %} N/A {% else %} {{costinvoice.payment_date|confulldate:costinvoice.invoice.company.id}}{% endif %}</div>
                    {% empty %}
                    <div>---</div>
                    {% endfor %}
                </td>
                <td class="eye_test text-wrap">

                    <a class="btn p-0" href="{% url 'invoice:invoiceview' invoice.id %}">
                          <i class="fa fa-eye" title="View"></i>
                    </a>
                        {% if vendor_status == True %}
                        {% if invoice.invoice_status == 1 %} 
                        <a class="btn p-0" href="{% url 'invoice:editinvoiceform' invoice.id 1 %}{% if invoice.wcc_id %}?wcc_id={{invoice.wcc_id}}{% endif %}">
                        
                            <i class="fa fa-edit" ></i>
                        </a>
                        {% endif %}
                        {% endif %}

                </td>
            </tr>
            {% if forloop.last %}
           <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{% gettotalgrossamount allinvoices as sumgrossamount %}{{sumgrossamount}}</td>
                <td>{% gettotaltaxamount allinvoices as totaltaxamount %}{{totaltaxamount}}</td>
                <td> {% gettotalgrossamount allinvoices as invdisval %}
                    {% gettotaltaxamount allinvoices as invdistax %}
                      <div>{{invdisval|addvalues:invdistax}}
                       {%with total=invdisval|addvalues:invdistax%}{%with dem=total|add:request%}{%endwith%}{% endwith %}</div></td>
                <td></td>
                <td></td>
           </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
        </table> 
        </div>


{% endblock%}
{% block scripts %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="air-datepicker/js/datepicker.min.js"></script>
<script src="{% static 'js/invoice/editinvoicereport.js' %}"></script>
{% endblock %}