.filter-btns {
    display: inline-block;
    margin-left: 5px;
}

.filter-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.filter-btn i {
    color: #666;
    font-size: 14px;
}

.filter-btn.active i {
    color: #000;
}

.filter-btn:focus {
    outline: none;
}