
{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load projectflowtags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/projects/editlevel.css' %}">

<head>
</head>
<div class="row">
    <div class="col-12 text-end">
        <button type="button" class="btn btn-clr chck-tst"><a href="{% url 'projectflow:createprocessflow' project.id %}">Back</a></button>
    </div>
</div>

<div class="table-bck invoice-appo-work top-btn-arrow">
    <h3 class="from-head">Invoice Approval sWorkflow</h3>
    
    <form autocomplete="off" method="post" novalidate class="form-txt" id="wccflowid">
        <div>
            {% csrf_token %}
            {% comment %} <input type="hidden" name="csrf_name" value="{% csrf_token %}"> {% endcomment %}
            <input type="hidden" name="page_type" value="edit" id="page_type">
            <!-- <div class="row">
                <div class="col-4"><p>Project {{project.projectname.name}}</p></div>
                <div class="col-4"><p>Flow Name {{project.flow.flow_name}}</p></div>
                <div class="col-4"><p>Level {{project.flow_level}}</p></div>
            </div> -->
            <div class="row">
                <div class="col-4">
                    <div class="d-flex">
                        <table class="wcc-name">
                            <tbody>
                                <tr>
                                    <td>Project</td>
                                    <td> : </td>
                                    <td>{{project.projectname.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-4">
                    <div class="d-flex">
                        <table class="wcc-name">
                            <tbody>
                                <tr>
                                    <td>Flow Name</td>
                                    <td> : </td>
                                    <td>{{project.flow.flow_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-4">
                    <div class="d-flex">
                        <table class="wcc-name">
                            <tbody>
                                <tr>
                                    <td>Level</td>
                                    <td> : </td>
                                    <td>{{project.flow_level|title}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                
            </div>

            <div class="invoice-app">
            <div class="row all-left tabl">
                <div class="row mt-3 p-0">
                    <div class="col-2 heading-title">{{project.flow_level|title}}</div>
                    <div class="col-2 heading-title bor-xnone">Process Name</div>
                    <div class="col-2 heading-title">No. of Stations</div>
                    <div class="col-2 heading-title bor-xnone">Modules</div>
                    <div class="col-1 heading-title">No. of Users</div>
                    <div class="col-1 heading-title bor-xnone">Roles</div>
                    <div class="col-2 heading-title">Station Users</div>
                </div>
                {% comment %} <div class="row"> {% endcomment %}
                    {% show_signatories project.projectname.id request as sign_users %}
                    {% if project.flow_level == 'clusters' %}
                    {% for cluster in leveltypes.clusters %}
                        {% checkflowavailable cluster.id project.flow_level project_id as checkflow %}

                        <div class="row data-border">
                            <div class="col-2 discipline-name">
                                <input type="checkbox" name="level_type_id" value="{{cluster.id}}" class="level_type_id" data_level="clusters" data_id="{{cluster.id}}" {% if checkflow > 0 %}checked{% endif %}>&emsp;<label class="pt-type level_label">{{cluster.clustersubname.cluster_subname}}</label><br>
                            </div>
                            <div class="col-10 process_clusters_{{cluster.id}}">
                                {% if checkflow > 0 %}
                                {% for process in flow_process %}
                                <div class="row">
                                    <div class="col-3 process-name">
                                        <p>{{process.process_name}}</p>
                                    </div>
                                    <div class="col-9">
                                        {% getprojectflowlevel process.id cluster.id project_id as flowleveldetails%}
                                        {% getmodule_byprocess process.process_id as modules%}
                                        <div class="row">
                                            <div class="col-2 mt-2 input-center">
                                                <input type="text" name="stations_{{cluster.id}}_{{process.id}}" class="form-control no_of_stations" data_id="{{cluster.id}}" data_level="clusters" value="{{flowleveldetails.no_of_stations}}" get_process='{{process.id}}'>
                                                <input type="hidden" name="process_id_{{cluster.id}}_{{process.id}}" class="process_id" value="{{process.id}}">
                                                <input type="hidden" name="originalprocess_id_{{cluster.id}}_{{process.id}}" class="originalprocess_id" value="{{process.process_id}}">
                                                <input type="hidden" name="projectflowlevel_id_{{cluster.id}}_{{process.id}}" class="projectflowlevel_id" value="{{flowleveldetails.id}}">

                                            </div>
                                            <div class="col-10">
                                                <div class="row">
                                                    <div class="col-12 module_{{cluster.id}}_{{process.id}}">
                                                        {% for i in flowleveldetails.no_of_stations|no_of_range %}
                                                            {% getprojectflowmodule flowleveldetails.id i as projectflowmodules%}
                                                            {% getroleandusers projectflowmodules.module_id company project_id as rolesandusers %}
                                                            <input type="hidden" name="projectflowmodule_id_{{cluster.id}}_{{process.id}}_{{i}}" value="{{projectflowmodules.id}}" class="project_flow_module_s">
                                                            <div class="row module_rows module_row_{{cluster.id}}_{{process.id}}_{{i}} justify-content-end mt-2 row_variant">
                                                                <div class="col-3 modules">
                                                                    <select class="form-control modules_select modules_{{cluster.id}}_{{process.id}} module_count" name="module_{{cluster.id}}_{{process.id}}_{{i}}" process_module_id="{{projectflowmodules.module_id}}" module_id="{{projectflowmodules.module.module_id}}" module_index="{{i}}" data_id="{{cluster.id}}" process_id="{{process.id}}">
                                                                        {% for module in modules %}
                                                                            <option value="{{module.id}}" data-module_id="{{module.module_id}}" {% if module.id == projectflowmodules.module_id %}selected{% endif %}>{{module.module_name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <div class="col-2 module_row_{{cluster.id}}_{{process.id}}_{{i}}_noof_users nos-users">
                                                                    {% if projectflowmodules.module.module_id == 5%}
                                                                    <input type="text"  class="form-control" readonly value="{{sign_users|length}}">
                                                                    {% else %}
                                                                        <input type="text" name="nouser_{{cluster.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}" class="form-control nousers" value="{{projectflowmodules.no_of_users|default_if_none:""}}" process_module_id="{{projectflowmodules.module_id}}" module_id="{{projectflowmodules.module.module_id}}" module_index="{{i}}" data_id="{{cluster.id}}" process_id="{{process.id}}" old_data="{{projectflowmodules.no_of_users}}">
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="row justify-content-end">
                                                                        <div class="col-4 module_row_{{cluster.id}}_{{process.id}}_{{i}}_roles roles-data">
                                                                            <select class="form-control" name="role_id_{{cluster.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}">
                                                                                <option value="">--Select--</option>
                                                                                {% for role in rolesandusers.roles %}
                                                                                    <option value="{{role.id}}" {% if role.id == projectflowmodules.role_id %}selected{% endif %}>{{role.role_name}}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-8 module_row_{{cluster.id}}_{{process.id}}_{{i}}_station_users users-data">
                                                                            {% if projectflowmodules.module.module_id == 5%}
                                                                                {% for user in sign_users %}
                                                                                <input type="text" readonly class="form-control" value="{{user.user__name}} {{user.user__lastname}}-{{user.user__designation_role}} {{user.signatory__currency__currency_symbol}}"><br>
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                {% for j in projectflowmodules.no_of_users|no_of_range %}
                                                                                {% getflowusers projectflowmodules.id j as flowusers %}
                                                                                <input type="hidden" name="projectflowmodule_userid_{{cluster.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}" value="{{flowusers.id}}">
                                                                                    <select class="form-control mod_usr_cls" name="moduleusers_{{cluster.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}">
                                                                                        <option value="">--Select--</option>
                                                                                        {% for user in rolesandusers.projectusers %}
                                                                                            <option value="{{user.id}}" {% if user.id == flowusers.user_id %}selected{% endif %}>{{user.user_name}} {{user.user_lastname}}-{{user.user_designation_role}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            
                        </div>
                    {% endfor %}
                    {% elif project.flow_level == 'discipline' %}
                        {% for discipline in leveltypes.discipline%}
                            {% checkflowavailable discipline.id project.flow_level project_id as checkflow %}

                            <div class="row data-border">
                                <div class="col-2 discipline-name">
                                    <!-- {% if forloop.first %}
                                        <label for="staticEmail" class="col-form-label">{{project.flow_level}}</label><br>
                                    {% endif %}                                     -->
                                    <input type="checkbox" name="level_type_id" value="{{discipline.id}}" class="level_type_id" data_level="discipline" data_id="{{discipline.id}}" {% if checkflow > 0 %}checked{% endif %}>&emsp;<label class="pt-type level_label" >{{discipline.discipline_subtype__discipline_subtype}}-{% if discipline.project_discipline__project_discipline == "1"%}Green Field Development{% elif discipline.project_discipline__project_discipline == "2"%}Brown Field Development{% else%}Others{% endif %}-{{discipline.project_discipline__cluster__clustersubname__cluster_subname}}</label><br>
                                </div>
                                <div class="col-10 process_discipline_{{discipline.id}}">
                                    <!-- {% if forloop.first %}
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="staticEmail" class="col-form-label">Process Name</label>
                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label for="staticEmail" class="col-form-label">No of Stations</label>
                                                </div>
                                                <div class="col-10">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-4">
                                                                    <label for="staticEmail" class="col-form-label">Modules</label>
                                                                </div>
                                                                <div class="col-2">
                                                                    <label for="staticEmail" class="col-form-label">No of Users</label>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <label for="staticEmail" class="col-form-label">Roles</label>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label for="staticEmail" class="col-form-label">Station Users</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %} -->
                                    {% if checkflow > 0 %}
                                    {% for process in flow_process %}
                                        <div class="row">
                                            <div class="col-3 process-name">
                                                <p>{{process.process_name}}</p>
                                            </div>
                                            <div class="col-9">
                                                {% getprojectflowlevel process.id discipline.id project_id as flowleveldetails%}
                                                {% getmodule_byprocess process.process_id as modules%}
    
    
                                                <div class="row">
                                                    <div class="col-2 mt-2 input-center">
                                                        <input type="text" name="stations_{{discipline.id}}_{{process.id}}" class="form-control no_of_stations" data_id="{{discipline.id}}" data_level="discipline" value="{{flowleveldetails.no_of_stations}}" get_process='{{process.id}}'>
                                                        <input type="hidden" name="process_id_{{discipline.id}}_{{process.id}}" class="process_id" value="{{process.id}}">
                                                        <input type="hidden" name="originalprocess_id_{{discipline.id}}_{{process.id}}" class="originalprocess_id" value="{{process.process_id}}">
                                                        <input type="hidden" name="projectflowlevel_id_{{discipline.id}}_{{process.id}}" class="projectflowlevel_id" value="{{flowleveldetails.id}}">
    
                                                    </div>
                                                    <div class="col-10">
                                                        <div class="row">
                                                            <div class="col-12 module_{{discipline.id}}_{{process.id}}">
                                                                {% for i in flowleveldetails.no_of_stations|no_of_range %}
                                                                    {% getprojectflowmodule flowleveldetails.id i as projectflowmodules%}
                                                                    {% getroleandusers projectflowmodules.module_id company project_id as rolesandusers %}
                                                                    <input type="hidden" name="projectflowmodule_id_{{discipline.id}}_{{process.id}}_{{i}}" value="{{projectflowmodules.id}}" class="project_flow_module_s"> 
                                                                    <div class="row module_rows row_variant module_row_{{discipline.id}}_{{process.id}}_{{i}} justify-content-end mt-2">
                                                                        <div class="col-3 modules">
                                                                            <select class="form-control modules_select modules_{{discipline.id}}_{{process.id}} module_count" name="module_{{discipline.id}}_{{process.id}}_{{i}}" process_module_id="{{projectflowmodules.module_id}}" module_id="{{projectflowmodules.module.module_id}}" module_index="{{i}}" data_id="{{discipline.id}}" process_id="{{process.id}}">
                                                                                {% for module in modules %}
                                                                                    <option value="{{module.id}}" data-module_id="{{module.module_id}}" {% if module.id == projectflowmodules.module_id %}selected{% endif %}>{{module.module_name}}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-2 module_row_{{discipline.id}}_{{process.id}}_{{i}}_noof_users nos-users">
                                                                            {% if projectflowmodules.module.module_id == 5%}
                                                                                <input type="text"  class="form-control" readonly value="{{sign_users|length}}">
                                                                            {% else %}
                                                                                <input type="text" name="nouser_{{discipline.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}" class="form-control nousers" value="{{projectflowmodules.no_of_users|default_if_none:""}}" module_index="{{i}}" old_data="{{projectflowmodules.no_of_users}}" process_module_id="{{projectflowmodules.module_id}}" module_id="{{projectflowmodules.module.module_id}}" process_id="{{process.id}}" data_id="{{discipline.id}}">
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="row justify-content-end">
                                                                                <div class="col-4 module_row_{{discipline.id}}_{{process.id}}_{{i}}_roles roles-data">
                                                                                    <select class="form-control" name="role_id_{{discipline.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}">
                                                                                        <option value="">--Select--</option>
                                                                                        {% for role in rolesandusers.roles %}
                                                                                            <option value="{{role.id}}" {% if role.id == projectflowmodules.role_id %}selected{% endif %}>{{role.role_name}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-8 module_row_{{discipline.id}}_{{process.id}}_{{i}}_station_users users-data">
                                                                                    {% if projectflowmodules.module.module_id == 5%}
                                                                                        {% for user in sign_users %}
                                                                                        <input type="text" readonly class="form-control" value="{{user.user__name}} {{user.user__lastname}}-{{user.user__designation_role}} {{user.signatory__currency__currency_symbol}}"><br>
                                                                                        {% endfor %}
                                                                                    {% else %}
                                                                                        {% for j in projectflowmodules.no_of_users|no_of_range %}
                                                                                        {% getflowusers projectflowmodules.id j as flowusers %}
                                                                                        <input type="hidden" name="projectflowmodule_userid_{{discipline.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}" value="{{flowusers.id}}">
                                                                                            <select class="form-control mod_usr_cls" name="moduleusers_{{discipline.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}">
                                                                                                <option value="">--Select--</option>
                                                                                                {% for user in rolesandusers.projectusers %}
                                                                                                    <option value="{{user.id}}" {% if user.id == flowusers.user_id %}selected{% endif %}>{{user.user_name}} {{user.user_lastname}}-{{user.user_designation_role}}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        {% endfor %}
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                
                            </div>
                        {% endfor %}

                    {% else %}
                    <!--starts here -->
                    {% for well in leveltypes.well%}
                    {% checkwellbasedflowavailable well.discipline_id project.flow_level project_id as checkflow %}
                    <div class="row data-border">
                        <div class="col-2 discipline-name">
                            <!-- {% if forloop.first %}
                                <label for="staticEmail" class="col-form-label">{{project.flow_level}}</label><br>
                            {% endif %}    -->
                            <input type="checkbox" name="wellbased_type_id" value="{{well.discipline_id}}" class="level_type_id check_val{{well.discipline_id}} well_discipline_cls" data_level="well" sub_level="discipline" data_id="{{well.discipline_id}}" {% if checkflow > 0 %}checked{% endif %}>&emsp;<label class="pt-type level_label">{{well.discipline_name}}-{{well.project_discipline}}-{{well.cluster}}</label><br>
                        </div>
                        <div class="col-10 process_well_{{well.discipline_id}}_well_dis">
                            <!-- {% if forloop.first %}
                            <div class="row">
                                <div class="col-2">
                                    <label for="staticEmail" class="col-form-label">Process Name</label>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="staticEmail" class="col-form-label">No of Stations</label>
                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <label for="staticEmail" class="col-form-label">Modules</label>
                                                        </div>
                                                        <div class="col-2">
                                                            <label for="staticEmail" class="col-form-label">No of Users</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <label for="staticEmail" class="col-form-label">Roles</label>
                                                                </div>
                                                                <div class="col-6">
                                                                    <label for="staticEmail" class="col-form-label">Station Users</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endif %} -->
                            {% if checkflow > 0 %}
                            {% for process in flow_process %}
                                <div class="row">
                                    <div class="col-3 process-name">
                                        <p>{{process.process_name}}</p>
                                    </div>
                                    <div class="col-9">
                                        {% getprojectflowlevel process.id well.discipline_id project_id as flowleveldetails%}
                                        {% getmodule_byprocess process.process_id as modules%}


                                        <div class="row">
                                            <div class="col-2 mt-2 input-center">
                                                <input type="text" name="stations_{{well.discipline_id}}_{{process.id}}" class="form-control no_of_stations" data_id="{{well.discipline_id}}" data_level="well" value="{{flowleveldetails.no_of_stations}}" get_process='{{process.id}}'>
                                                <input type="hidden" name="process_id_{{well.discipline_id}}_{{process.id}}" class="process_id" value="{{process.id}}">
                                                <input type="hidden" name="originalprocess_id_{{well.discipline_id}}_{{process.id}}" class="originalprocess_id" value="{{process.process_id}}">
                                                <input type="hidden" name="projectflowlevel_id_{{well.discipline_id}}_{{process.id}}" class="projectflowlevel_id" value="{{flowleveldetails.id}}">

                                            </div>
                                            <div class="col-10">
                                                <div class="row">
                                                    <div class="col-12 module_{{well.discipline_id}}_{{process.id}}">
                                                        {% for i in flowleveldetails.no_of_stations|no_of_range %}
                                                            {% getprojectflowmodule flowleveldetails.id i as projectflowmodules%}
                                                            {% getroleandusers projectflowmodules.module_id company project_id as rolesandusers %}
                                                            <input type="hidden" name="projectflowmodule_id_{{well.discipline_id}}_{{process.id}}_{{i}}" value="{{projectflowmodules.id}}" class="project_flow_module_s">
                                                            <div class="row module_rows module_row_{{well.discipline_id}}_{{process.id}}_{{i}} justify-content-end mt-2 row_variant">
                                                                <div class="col-3 modules">
                                                                    <select class="form-control modules_select modules_{{well.discipline_id}}_{{process.id}} module_count" name="module_{{well.discipline_id}}_{{process.id}}_{{i}}" process_module_id="{{projectflowmodules.module_id}}" module_id="{{projectflowmodules.module.module_id}}" module_index="{{i}}" data_id="{{well.discipline_id}}" process_id="{{process.id}}">
                                                                        {% for module in modules %}
                                                                            <option value="{{module.id}}" data-module_id="{{module.module_id}}" {% if module.id == projectflowmodules.module_id %}selected{% endif %}>{{module.module_name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <div class="col-2 module_row_{{well.discipline_id}}_{{process.id}}_{{i}}_noof_users nos-users">
                                                                    {% if projectflowmodules.module.module_id == 5%}
                                                                        <input type="text"  class="form-control" readonly value="{{sign_users|length}}">
                                                                    {% else %}
                                                                        <input type="text" name="nouser_{{well.discipline_id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}" class="form-control nousers" value="{{projectflowmodules.no_of_users|default_if_none:""}}" module_index="{{i}}" data_id="{{well.discipline_id}}" process_id="{{process.id}}" old_data="{{projectflowmodules.no_of_users}}" process_module_id="{{projectflowmodules.module_id}}" module_id="{{projectflowmodules.module.module_id}}">
                                                                    {% endif %}
                                                                    <!--
                                                                        {% for module in modules %}{% if module.id == projectflowmodules.module_id %}module_id="{{module.id}}"{% endif %}{% endfor %} data_id="{{well.discipline_id}}" process_id="{{process.id}}" process_module_id="{{projectflowmodules.module_id}}" module_index="{{i}}"
                                                                    -->
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="row justify-content-end">
                                                                        <div class="col-4 module_row_{{well.discipline_id}}_{{process.id}}_{{i}}_roles roles-data">
                                                                            <select class="form-control" name="role_id_{{well.discipline_id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}">
                                                                                <option value="">--Select--</option>
                                                                                {% for role in rolesandusers.roles %}
                                                                                    <option value="{{role.id}}" {% if role.id == projectflowmodules.role_id %}selected{% endif %}>{{role.role_name}}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-8 module_row_{{well.discipline_id}}_{{process.id}}_{{i}}_station_users users-data">
                                                                            {% if projectflowmodules.module.module_id == 5%}
                                                                                {% for user in sign_users %}
                                                                                <input type="text" readonly class="form-control" value="{{user.user__name}} {{user.user__lastname}}-{{user.user__designation_role}} {{user.signatory__currency__currency_symbol}}"><br>
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                {% for j in projectflowmodules.no_of_users|no_of_range %}
                                                                                {% getflowusers projectflowmodules.id j as flowusers %}
                                                                                <input type="hidden" name="projectflowmodule_userid_{{well.discipline_id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}" value="{{flowusers.id}}">
                                                                                    <select class="form-control mod_usr_cls" name="moduleusers_{{well.discipline_id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}">
                                                                                        <option value="">--Select--</option>
                                                                                        {% for user in rolesandusers.projectusers %}
                                                                                            <option value="{{user.id}}" {% if user.id == flowusers.user_id %}selected{% endif %}>{{user.user_name}} {{user.user_lastname}}-{{user.user_designation_role}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    
                    </div>
                    
                        <!--discipline well-->
                        {% for discipline_well in well.well_datas%}
                            {% checkflowavailable discipline_well.id project.flow_level project_id as checkflow %}

                            <div class="row data-border">
                                <div class="col-2 discipline-name"> 
                                    <input type="checkbox" name="level_type_id" value="{{discipline_well.id}}" check_val="{{well.discipline_id}}" class="level_type_id check_well_dis well_dis_id{{well.discipline_id}}" data_level="well" data_id="{{discipline_well.id}}" {% if checkflow > 0 %}checked{% endif %}>&emsp;<label class="pt-type level_label">{{discipline_well.wellname__well_subname}}</label><br>
                                </div>
                                <div class="col-10 process_well_{{discipline_well.id}}">
                                    {% if checkflow > 0 %}
                                    {% for process in flow_process %}
                                        <div class="row">
                                            <div class="col-3 process-name">
                                                <p>{{process.process_name}}</p>
                                            </div>
                                            <div class="col-9">
                                                {% getprojectflowlevel process.id discipline_well.id project_id as flowleveldetails%}
                                                {% getmodule_byprocess process.process_id as modules%}


                                                <div class="row">
                                                    <div class="col-2 mt-2 input-center">
                                                        <input type="text" name="stations_{{discipline_well.id}}_{{process.id}}" class="form-control no_of_stations" data_id="{{discipline_well.id}}" data_level="well" value="{{flowleveldetails.no_of_stations}}" get_process='{{process.id}}'>
                                                        <input type="hidden" name="process_id_{{discipline_well.id}}_{{process.id}}" class="process_id" value="{{process.id}}">
                                                        <input type="hidden" name="originalprocess_id_{{discipline_well.id}}_{{process.id}}" class="originalprocess_id" value="{{process.process_id}}">
                                                        <input type="hidden" name="projectflowlevel_id_{{discipline_well.id}}_{{process.id}}" class="projectflowlevel_id" value="{{flowleveldetails.id}}">

                                                    </div>
                                                    <div class="col-10">
                                                        <div class="row">
                                                            <div class="col-12 module_{{discipline_well.id}}_{{process.id}}">
                                                                {% for i in flowleveldetails.no_of_stations|no_of_range %}
                                                                    {% getprojectflowmodule flowleveldetails.id i as projectflowmodules%}
                                                                    {% getroleandusers projectflowmodules.module_id company project_id as rolesandusers %}
                                                                    <input type="hidden" name="projectflowmodule_id_{{discipline_well.id}}_{{process.id}}_{{i}}" value="{{projectflowmodules.id}}" class="project_flow_module_s">
                                                                    <div class="row module_row_{{discipline_well.id}}_{{process.id}}_{{i}} justify-content-end mt-2 row_variant">
                                                                        <div class="col-3 modules">
                                                                            <select class="form-control modules_select modules_{{discipline_well.id}}_{{process.id}} module_count" name="module_{{discipline_well.id}}_{{process.id}}_{{i}}" process_module_id="{{projectflowmodules.module_id}}" module_id="{{projectflowmodules.module.module_id}}" module_index="{{i}}" data_id="{{discipline_well.id}}" process_id="{{process.id}}">
                                                                                {% for module in modules %}
                                                                                    <option value="{{module.id}}" data-module_id="{{module.module_id}}" {% if module.id == projectflowmodules.module_id %}selected{% endif %}>{{module.module_name}}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-2 module_row_{{discipline_well.id}}_{{process.id}}_{{i}}_noof_users nos-users">
                                                                            {% if projectflowmodules.module.module_id == 5%}
                                                                                <input type="text"  class="form-control" readonly value="{{sign_users|length}}">
                                                                            {% else %}
                                                                                <input type="text" name="nouser_{{discipline_well.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}" class="form-control nousers" value="{{projectflowmodules.no_of_users|default_if_none:""}}" module_index="{{i}}" data_id="{{discipline_well.id}}" process_id="{{process.id}}" old_data="{{projectflowmodules.no_of_users}}" process_module_id="{{projectflowmodules.module_id}}" module_id="{{projectflowmodules.module.module_id}}">
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="row justify-content-end">
                                                                                <div class="col-4 module_row_{{discipline_well.id}}_{{process.id}}_{{i}}_roles roles-data">
                                                                                    <select class="form-control" name="role_id_{{discipline_well.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}">
                                                                                        <option value="">--Select--</option>
                                                                                        {% for role in rolesandusers.roles %}
                                                                                            <option value="{{role.id}}" {% if role.id == projectflowmodules.role_id %}selected{% endif %}>{{role.role_name}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-8 module_row_{{discipline_well.id}}_{{process.id}}_{{i}}_station_users users-data">
                                                                                    {% if projectflowmodules.module.module_id == 5%}
                                                                                        {% for user in sign_users %}
                                                                                        <input type="text" readonly class="form-control" value="{{user.user__name}} {{user.user__lastname}}-{{user.user__designation_role}} {{user.signatory__currency__currency_symbol}}"><br>
                                                                                        {% endfor %}
                                                                                    {% else %}
                                                                                        {% for j in projectflowmodules.no_of_users|no_of_range %}
                                                                                        {% getflowusers projectflowmodules.id j as flowusers %}
                                                                                        <input type="hidden" name="projectflowmodule_userid_{{discipline_well.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}" value="{{flowusers.id}}">
                                                                                            <select class="form-control mod_usr_cls" name="moduleusers_{{discipline_well.id}}_{{process.id}}_{{projectflowmodules.module_id}}_{{i}}">
                                                                                                <option value="">--Select--</option>
                                                                                                {% for user in rolesandusers.projectusers %}
                                                                                                    <option value="{{user.id}}" {% if user.id == flowusers.user_id %}selected{% endif %}>{{user.user_name}} {{user.user_lastname}}-{{user.user_designation_role}}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        {% endfor %}
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            
                            </div>
                        {% endfor %}
                    {% endfor %}
                <!--end here-->
                    {% endif %}

                    
                    
                </div>
               
            </div>
            </div>


            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button type="submit" id="draft_id" class="btn btn-clr text-left draft-cls com-save" name="submit_type" value="0">Save as Draft</button>
                    <button type="submit" id="save_id" value="1" class="btn btn-clr text-left save-cls com-save" name="submit_type" value="1">Submit</button>
                  
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}
{% block scripts %}
{{ block.super }}
<script>
    var flow="{{project.flow_id}}"
    var project_id="{{project.id}}"
    var projectname="{{project.projectname.id}}"
    var company="{{company}}"

</script>
<script src="{% static 'js/projects/flowedit.js' %}"></script>
<script src="{% static 'js/projects/flow.js' %}"></script>


{% endblock %}


