{% extends "base.html" %}
{% load static %}
{% load invoice_custom_tags %}
{% load wcc_custom_tags %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/WCC/approvalwcclist.css' %}">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class="{{ message.tags }} msg-cls"{% endif %} style="display:none;"> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<div>
    <h3 class="from-head">Total WCC Submitted to Date</h3>
    <div class="table-responsive text-nowrap inv-table_wid">
        <table class="table prj-back_clr settings-data-list-view data-list-view invoicelist tot-in irock-table approvalwcc-table" id="wcc_approval_list">
            <thead >
                <tr >
                    <th>S/N</th> 
                    <th>VIN <button class="filter-btn" data-filter="vin-number"> <i class="fas fa-sort"></i></button></th>
                    <th>Vendor Name <button class="filter-btn" data-filter="vendor"> <i class="fas fa-sort"></i></button></th>
                    <th>WCC No <button class="filter-btn" data-filter="wcc-number"> <i class="fas fa-sort"></i></button></th>     
                    <th>Period of Service <button class="filter-btn" data-filter="peroid-service"> <i class="fas fa-sort"></i></button></th>
                    <th>Submitted Date <button class="filter-btn" data-filter="submitted-date"> <i class="fas fa-sort"></i></button></th>
                    <th>Approval Status <button class="filter-btn" data-filter="approval-status"> <i class="fas fa-sort"></i></button></th>
                    <th>Approval/Returned/Rejected Date</th>
                    <!-- <th>Status</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-list">
                <input type="hidden" id="user_sign" value="{{sign_data}}">
                {% if request.user.roles_id == 2 %}
                {% for wcc in wcclist %}
                            <tr class="wcc_approved_details"> 
                                <td>{{counter}}</td>
                                <td>{{wcc.vendor.vin|default_if_none:"---"}}</td>
                                <td>{{wcc.vendor.vendor_name|default_if_none:"---"}}</td>
                                {% getwccvalues wcc.id as wccvalues %}
                                <td>{{wccvalues.wcc_number|default_if_none:"---"}}</td>
                                <td>{{wcc.fromdate|date:"d-M-Y"}} to {{wcc.todate|date:"d-M-Y"}}</td>
                                <td>{{wcc.wcc_submit_date|confulldate:wcc.company.id|default_if_none:"---"}}</td>
                                <td class="td-left">
                                {% if wcc.wcc_status == 0 %}
                                        Awaiting Approval
                                    {% elif wcc.wcc_status == 1 %}
                                        Approved
                                    {% elif wcc.wcc_status == 2 %}
                                        Returned
                                    {% else %}
                                        Rejected
                                    {% endif %}
                                </td>
                                <td>{{wcc.wcc_status_date|confulldate:wcc.company.id|default_if_none:"---"}}</td>
                                <td class="eye_test text-wrap">
                                    <a class="btn px-1" href="{% url 'wcc:wccview' wcc.id %}">
                                        <i class="fa fa-eye" title="View"></i>
                                    </a>
                                    {% checkapproveaccess_admin wcc.id request.user.id as check_data %}
                                    {% if check_data.0 == 0 %}
                                        {% if check_data.1.invoice_override == 1%}
                                        <a class="btn px-1" href="{% url 'wcc:wccassignuser' wcc.id %}">
                                            Assign User
                                        </a>
                                        {% else %}
                                            <a class="check_sign btn px-1" href="{% url 'wcc:wccapprovalview' wcc.id %}">
                                                <i class="fa-solid fa-file-invoice" title="wccapprovalview"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    
                                    {% checkpermission_WCC_approval wcc.id request.user.id as querystatus %}
                                    {% if querystatus > 0%}
                                    <a class="btn his-oty px-1" href="{% url 'wcc:wccqueryhistory' wcc.id %}">
                                        <i class="fa fa-history" title="History" aria-hidden="true"></i>
                                    </a>
                                    {% else %}
                                            {% if wcc.wcc_query_status == 1 %}
                                            <a class="btn his-oty px-1" href="{% url 'wcc:wccqueryhistory' wcc.id %}">
                                                <i class="fa fa-history" title="History" aria-hidden="true"></i>
                                            </a>
                                            {% endif %}
                                    {% endif %}


                                </td>
                            </tr>
                    {% empty %}
                    
                    <tr>
                        <td colspan="9" class="text-center">---</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    {% for wcc in wcclist %}
                        {% wcc_approval_check wcc.id request.user.id as data %}
                        {% if data > 0 %}
                            <tr class="wcc_approved_details"> 
                                <td>{{counter}}</td>
                                <td>{{wcc.vendor.vin|default_if_none:"---"}}</td>
                                <td>{{wcc.vendor.vendor_name|default_if_none:"---"}}</td>
                                {% getwccvalues wcc.id as wccvalues %}
                                <td>{{wccvalues.wcc_number|default_if_none:"---"}}</td>
                                <td>{{wcc.fromdate|date:"M-Y"}} to {{wcc.todate|date:"M-Y"}}</td>
                                <td>{{wcc.wcc_submit_date|confulldate:wcc.company.id|default_if_none:"---"}}</td>
                                <td class="td-left">
                                {% if wcc.wcc_status == 0 %}
                                        Awaiting Approval
                                    {% elif wcc.wcc_status == 1 %}
                                        Approved
                                    {% elif wcc.wcc_status == 2 %}
                                        Returned
                                    {% else %}
                                        Rejected
                                    {% endif %}
                                </td>
                                <td>{{wcc.wcc_status_date|confulldate:wcc.company.id|default_if_none:"---"}}</td>
                                <!-- <td class="td-left">
                                    Submitted
                                </td> -->
                                <td class="eye_test text-wrap">
                                        <a class="btn p-0" href="{% url 'wcc:wccview' wcc.id %}">
                                            <i class="fa fa-eye" title="View"></i>
                                        </a>
                                    {% checkapproveaccess wcc.id request.user.id as check_data %}
                                    {% if check_data.0 == 0 %}
                                        {% if check_data.1.invoice_override == 1%}
                                        <a class="btn px-1" href="{% url 'wcc:wccassignuser' wcc.id %}">
                                            Assign User
                                        </a>
                                        {% else %}
                                            <a class="check_sign btn px-1" href="{% url 'wcc:wccapprovalview' wcc.id %}">
                                                <i class="fa-solid fa-file-invoice"></i>
                                            </a>
                                        {% endif %}
                                        <!-- checkpermission_invoiceoverride -->
                                    {% else %}
                                            <!-- <a class="btn px-1" href="{% url 'wcc:wccview' wcc.id %}">
                                                <i class="fa fa-eye"></i>
                                            </a> -->
                                    {% endif %}

                                    {% checkpermission_WCC_approval wcc.id request.user.id as querystatus %}
                                    {% if querystatus > 0%}
                                    <a class="btn his-oty px-1" href="{% url 'wcc:wccqueryhistory' wcc.id %}">
                                        <i class="fa fa-history" title="History" aria-hidden="true"></i>
                                    </a>
                                    {% else %}
                                            {% if wcc.wcc_query_status == 1 %}
                                            <a class="btn his-oty px-1" href="{% url 'wcc:wccqueryhistory' wcc.id %}">
                                                <i class="fa fa-history" title="History" aria-hidden="true"></i>
                                            </a>
                                            {% endif %}
                                    {% endif %}

                                </td>
                            </tr>
                        {% endif %}
                    {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">---</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div> 

        

{% endblock %}

{% block scripts %}
{{ block.super }}
    <script src="{% static 'js/misc/tablebased.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
    $( document ).ready(function() {
    var notyf = new Notyf({
        duration: 2000,
        position: {
          x: 'right',
          y: 'top',
        },
        types: [
          {
            type: 'success',
            background: '#D3D3D',
            icon: {
              className: 'fa fa-check-circle',
              tagName: 'i',
              color: '#000',
            },
          },
        ]
      });
  
    var msg=$('.msg-cls').text();
    if (msg){
      notyf.open({
      type: 'success',
      message: msg,
    }); 
    }
  })
  $(document).on('click','.check_sign',function(event){
    let val=parseInt($('#user_sign').val())
    if (val > 0){
        event.preventDefault();
        swal.fire('Please add signature in userdetails')
    }
})

</script>
{% endblock %}
