{% extends "base.html" %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load static %}
{% block content %}
{% load cost_code_tags %}
<head>
    <!-- <link rel="stylesheet" href="air-datepicker/css/datepicker.min.css"> -->
</head>
    <div >
        <form  method="POST" id="editinvoiceform1"> 
            <div class="row">
                <div class="col-12 text-end">
                    {% if wcc_data.wcc_status != 1 %}
                    <button class="btn btn-clr waves-effect waves-float waves-light" ><a href="{% url 'wcc:wcclist' %}">Back</a></button>
                    {% endif %}

                </div>
            </div>
            {% csrf_token %}
            <h3 class="from-head">Standard Information Form</h3>
            <h3 class="from-head">WCC Information</h3>

            
            <select id="id_contracts" style="display:none">
                {% for contracts in allcontractlist%}
                <option value="{{contracts.id}}" data_id="{{contracts.type}}">{{contracts.contractrefnum}}</option>
                {% endfor %}
            </select>
            
            <input type="hidden" name="dateformat" id="companydateformat" value={{company.dateformat}}>
            <input type="hidden" name="invoicetype" id="id_debit" value ="debit_note">
            <input type="hidden" name="hdn_ven_id" id="ven_id" value="{{vendor.id}}">
            <input type="hidden" name="block_not" id="id_block_not" value ="{{wcc_data.block_not_applicable}}">
            <input type="hidden" name="field_not" id="id_field_not" value ="{{wcc_data.field_not_applicable}}">
            <input type="hidden" name="well_not" id="id_well_not" value ="{{wcc_data.well_not_applicable}}">
            <input class="formname" type="hidden" value="Wcc">
            <div class="maincls">


                <div class="row de-bottom"><div><label class="contractfilehead">A: Relevant Contract/Amendment/Variation Order Number<span class="star-clr">*</span></label></div><div><select name="contract" class="form-control contractcls" {% if wcc_data.contractid %} disabled {% endif %}  >       
                    <option value="">--Select Contract--</option>         
                    {% for contracts in allcontractlist%}
                    <option value="{{contracts.id}}" check_type="{{contracts.check_status}}" {% if wcc_data.contractid|add:"0" == contracts.id and wcc_data.contracttype == contracts.type %} selected {% endif %} data_id="{{contracts.type}}" projectid="{{contracts.projectid}}">{{contracts.contractrefnum}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="contractid" id="id_hdncontractid" value="{% if wcc_data.contractid %}{{wcc_data.contractid}}-{{wcc_data.contracttype}}{% endif %}"></div></div>
                <div class="row de-bottom"><div><label class="contractfilehead">B: Relevant Contract/Amendment/Variation Order Name<span class="star-clr">*</span></label></div><div><input type="text" name="contractnameservice" class="form-control nameservicecls" readonly value="{{wcc_data.name_service}}"></div></div>

                <div class="row de-bottom"><div><label class="contractfilehead">Type of Service<span class="star-clr">*</span></label></div><div><input type="text" name="contractservicetype" class="form-control types_service" readonly value="{{wcc_data.types_service}}"></div></div>
                
                <div class="row de-bottom"><div><label class="contractfilehead Per-til-clr">Period of Service<span class="star-clr">*</span></label></div><div class="col-6"><div><label class="contractfilehead">From</div><input type="text" name="fromdate" id="from_date" autocomplete="off" class="periodformdate-cls form-control form-select" value="{{wcc_data.fromdate|date:"d-M-Y"|default_if_none:"---"}}"></div><div class="col-6"><div><div><label class="contractfilehead">To</div></div><input type="text" name="todate" autocomplete="off" value="{{wcc_data.todate|date:"d-M-Y"}}" class="periodtodate-cls form-control form-select"><p id="validationMessage" style="font-weight: bold; color:red ;"></p></div></div>


                <div class="row de-bottom"><div><label class="contractfilehead">Brief Description of Service Rendered<span class="star-clr">*</span></label></div><div><input type="text" name="service_rendered" id="id_service_rendered" class="form-control" value="{{wcc_data.description_service|default_if_none:"---"}}"></div></div>
               
                <div class="row de-bottom"><div><label class="contractfilehead">Location of Service<span class="star-clr">*</span></label></div><div><input type="text" name="location_service" id="id_location_service" class="form-control" value="{{wcc_data.location_service|default_if_none:"---"}}"></div></div>

                <div class="row de-bottom"><div><label class="contractfilehead">Project Name<span class="star-clr">*</span></label></div><div><input type="text" name="project" id="id_project" dataid="{{getprojectid}}" class="form-control"  value="{{wcc_data.project_name}}" readonly></div></div>

                <input type="hidden" id="hdnblock" value="{{wcc_data.block.id}}">
                    <div class="row de-bottom">
                        <div>
                            <label class="contractfilehead">Block Name<span class="star-clr">*</span></label>
                        </div>
                        <div>
                            <select name="block" id="id_block" class="form-control form-select">
                                <option value=" " dataid="" selected>--Select Block--</option>
                            </select>
                        </div>
                     </div>
                <!--{% if wcc_data.block_not_applicable != "" %} disabled {% endif %}-->
                <input type="hidden" id="hdnfield" value="{{wcc_data.field.id}}">
                <div class="row de-bottom">
                    <div>
                        <label class="contractfilehead">Field Name<span class="star-clr">*</span></label>
                    </div>
                    <div> 
                        <select name="field" id="id_field" class="form-control form-select">
                            <option value=" " dataid="" selected>--Select Field--</option>
                        </select>
                    </div>
                </div>
                <!--{% if wcc_data.field_not_applicable != "" %} disabled {% endif %}-->
                <input type="hidden" id="hdnwell" value="{{wcc_data.well.id}}">
                <div class="row de-bottom">
                    <div>
                        <label class="contractfilehead">Well Name<span class="star-clr">*</span></label>
                    </div>
                    <div>
                        <select name="well" id="id_well" class="form-control form-select">
                            <option value=" " dataid="" selected>--Select Well--</option>
                        </select>
                    </div>
                </div>

                <!-- <div class="row"><div><label class="contractfilehead">Cost Code<span class="star-clr">*</span></label></div><div> <select name="costcode" id="id_costcode" class="commom-cls form-control inv-inf-bor">
                    <option value="">--Select Code--</option>
                    {% for data in cost_code_list %}
                    {% getcostcode_preview data.costcode_main data.order company as subcostcode %}
                    {% getcostcode_string data.costcode_main data.order company as all_costcode_string %}
                    <option value="{{data.id}}" {% if data.id == wcc_data.costcodevendor.id %} selected {% endif %}>{{subcostcode}}-{{all_costcode_string}}</option>
                    {% endfor %}
                </select>
                </div> -->
            
                
                <!--{% if invoice.well_not_applicable != "" %} disabled {% endif %}-->
                <div class="text-center btn-cls">
                    <button type="submit" id="draft_id" class="btn btn-clr text-left draft-cls" name="submit_type" value="0">Save as Draft</button>
                    <button type="submit" id="save_id" name="submit_type" value="1" class="btn btn-clr text-left final-cls">Save and Next</button>
                </div>
            
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<!-- <script src="air-datepicker/js/datepicker.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/invoice/editinvoiceform1.js' %}"></script>
<script>
var projectid="{{getprojectid|replacecommaid}}"
//     $(window).keydown(function(event){
//         if(event.keyCode == 13) {
//         event.preventDefault();
//         return false;
//         }
//     });
    

//     $(document).ready(function(){
        
//         var projectid="{{getprojectid|replacecommaid}}"
//         var blockoption='';
//         var hdnblock=$('#hdnblock').val()
//         var hdnfield=$('#hdnfield').val()
//         var hdnwell=$('#hdnwell').val()
//         var hdn_block_not=$('#id_block_not').val()
//         var hdn_field_not=$('#id_field_not').val()
//         var hdn_well_not=$('#id_well_not').val()
//         var hdncontractid=$('#id_hdncontractid').val()
//         // console.log(hdnblock)
        
//             if (hdncontractid != ''){
//                 // alert('')
//             $.ajax({
//                 type:"GET",
//                 url:'/invoice/getprojectblock',
//                 data:{'projectid':projectid},
//                 async:false,
//                 success: function(data){
//                     blockoption +='<option value="" dataid="">--Select Block--</option>'
//                     blockoption +='<option value="" dataid="Not Applicable">Not Applicable</option>'
//                     $.each(data.data,function(key,val){
//                         blockoption +='<option dataid='+val.id+' value="'+val.id+'">'+val.blockname+'</option>'
//                     })
//                     $('#id_block').html(blockoption)

//                     if (hdn_block_not != ''){

//                         if (hdnblock == ""){
//                             $('#id_block option[value=""]').attr("selected", "selected");
//                         }
//                         else{
//                             // $('#id_block').html(blockoption)
//                             $('#id_block option[value='+hdnblock+']').attr("selected", "selected");  
//                         }
//                         // $("<input>").attr({name:"block",type: "hidden",value: hdnblock}).appendTo("form");

//                     }
//                     if (hdn_block_not != ''){
//                         $.ajax({
//                         type:"GET",
//                         data:{'projectid':projectid,'blockid':hdnblock},
//                         url:'/projects/projectcreationfield',
//                         async:false,
//                         success: function(data){
//                             // console.log('1',data)
//                             var fieldata='<option value="" dataid="">--Select Field--</option>'
//                             fieldata +='<option value="" dataid="Not Applicable">Not Applicable</option>'
//                             $.each(data.field,function(key,val){
//                                 if (val.field != 'Not Applicable'){
//                                     fieldata +='<option value="'+val.id+'" dataid="'+val.id+'">'+val.field+'</option> '
//                                 }
//                             })
//                             // console.log('a',data)
//                             // console.log(fieldata)
//                             $('#id_field').html(fieldata)
//                             if (hdn_field_not != ''){
//                                 if (hdnfield == ""){
                                    
//                                     $('#id_field option[value=""]').attr("selected", "selected");
//                                 }
//                                 else{
//                                     // $('#id_field').html(fieldata)
//                                     $('#id_field option[value='+hdnfield+']').attr("selected", "selected");  
//                                 }
//                                 // $("<input>").attr({name:"field",type: "hidden",value: hdnfield}).appendTo("form");
//                             }  
//                             }
//                         })
//                     }
//                     // var block="";
//                         // block +='<option value="" dataid="Not Applicable">Not Applicable</option>'
//                         // $('#id_field').html(block)
//                         // $('#id_field option[value=""]').attr("selected", "selected");
//                         //ar blockid=$("#id_block").find(':selected').attr('dataid')
//                         if (hdn_field_not != ''){
//                             if (hdnblock == ""){
//                                 block="Not Applicable"
//                             }
//                             else{
//                                 block=hdnblock
//                             }
//                             if (hdnfield == ""){
//                                 field="Not Applicable"
//                             }
//                             else{
//                                 field=hdnfield
//                             }
//                             $.ajax({
//                                 type:"GET",
//                                 data:{'projectid':projectid,'fieldid':field,"blockid":block},
//                                 url:'/invoice/getallwell',
//                                 async:false,
//                                 success: function(data){
//                                 //   console.log('av',data)
//                                 var well ='<option value="" dataid="">--Select Well--</option>'
//                                 well +='<option value="" dataid="Not Applicable">Not Applicable</option>'
//                                 $.each(data.data,function(key,val){
//                                         well +='<option value="'+val.id+'" dataid="'+val.id+'">'+val.wellname+'</option> '
//                                     })
//                                 $('#id_well').html(well)
//                                     if (hdn_well_not != ''){
//                                         if (hdnwell == ""){
                
//                                             // $('#id_well').html(well)
//                                             $('#id_well option[value=""]').attr("selected", "selected");
//                                         }
//                                         else{
//                                             // $('#id_well').html(well)
//                                             $('#id_well option[value='+hdnwell+']').attr("selected", "selected");
//                                         }
//                                         // $("<input>").attr({name:"well",type: "hidden",value: hdnwell}).appendTo("form");
//                                     }
//                                 }
//                             })  
//                         }
//                 }
//             })

//         }  

//     })

//     var hdn_dateformat=$('#companydateformat').val()
//     var currentdate;
//     if(hdn_dateformat == ''){
//         defaultdateFormat='dd-M-yy',
//         currentdate=$.datepicker.formatDate(defaultdateFormat, new Date());
//     }
//     else{
//         currentdate=$.datepicker.formatDate(hdn_dateformat, new Date());
//     }
// /*
//     if (hdn_dateformat ==''){
//         $(document).on('focus',".dateformat-cls", function(){
//             $(this).datepicker({
//                 dateFormat: 'dd-M-yy',
//                 maxDate:new Date(),
//                 changeMonth:true,
//                 changeYear:true,
//                 yearRange: '1900:+0',
//             });
//           });
          
//     }
//     else{
//         $(document).on('focus',".dateformat-cls", function(){
//             $(this).datepicker({
//                 dateFormat: hdn_dateformat,
//                 maxDate:new Date(),
//                 changeMonth:true,
//                 changeYear:true,
//                 yearRange: '1900:+0',
//             });
//           });

//     }
//     */

    
//     $(document).on('focus',".periodformdate-cls", function(){
//         $('.periodtodate-cls').val('')
//         $(this).datepicker({
//             dateFormat: 'M-yyyy',
//             language: 'en',
//             range : true,
//             //minDate : mindate,
//             //maxDate : maxdate,
//             multipleDates: true,
//             multipleDatesSeparator: " - ",
//             view: 'months',
//             minView: 'months'
//             })
//         /*
//         $(this).datepicker( {
//             changeMonth: true,
//             changeYear: true,
//             showButtonPanel: true,
//             dateFormat: 'M-yy',
//             yearRange: '1900:' + new Date().getFullYear(),
//             maxDate: new Date(),
//             beforeShow: function(input,inst) {
//                 $(input).datepicker("widget").addClass('hide-calendar');
//               },
// */
//             /*  onChangeMonthYear: function (year,month) {
//                 var minusmonth = month-1
//                 console.log(minusmonth)
//                 $(".periodtodate-cls" ).datepicker( "destroy" );

//                 $('.periodtodate-cls').datepicker({
//                     dateFormat: 'M-yy',
//                     showButtonPanel: true,
//                     changeMonth: true,
//                     changeYear: true,
//                     minDate: new Date(year, minusmonth, 01),
//                     maxDate: new Date(),
//                     onClose: function(dateText, inst) {
//                         $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                        
//                       }
//                 });
//             }, */
            
//             /*  onClose: function(dateText, inst) {
//                 $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
//                 //$(input).datepicker('widget').removeClass('hide-calendar');
//               }
//         })
// */
//       });
      
      
//       $(document).on('focus',".periodtodate-cls", function(){

          
//          /* var getdata=$('.periodformdate-cls').val()
//           console.log(getdata)
//           var splitdata=getdata.split('-')
//           var formmonth=splitdata[0]
//           var formyear=splitdata[1]
//           var days=formyear+':' + new Date().getFullYear()
//           console.log(formyear)
//           var fromdateminDate = moment(getdata, "MMM-YYYY");
//             $(this).datepicker({
//                 changeMonth: true,
//                 changeYear: true,
//                 showButtonPanel: true,
//                 dateFormat: 'M-yy',
//                 monthrange:0,
//                 yearRange:days,
//                 ///maxDate: new Date(),
//                 minDate: new Date(formyear, fromdateminDate.month(), 01),
//                 beforeShow: function(input){
//                     $(input).datepicker("widget").addClass('hide-calendar');
//                 },
//                 onClose: function(dateText, inst) {
//                     $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
//                     $(this).datepicker('widget').removeClass('hide-calendar');
//                 }
//             }) */
//       });
      
      

//     $(document).on('change','.contractcls',function(){
//        /* Swal.fire({
//             text: 'Data Auto Fill?',
//             showDenyButton: true,
//             confirmButtonText: 'Yes',
//             allowOutsideClick:false,
//             denyButtonText: 'No',
//             confirmButtonColor: '#AF2B50',
//             denyButtonColor:'#AF2B50',
//             customClass: {
//             actions: 'my-actions',
//             confirmButton: 'order-2',
//             denyButton: 'order-3',
//             }
//           }).then((result) => {
//             if (result.isConfirmed) {*/

//                 var val=$(this).val()
//                 var data_id=$(this).find(':selected').attr('data_id')
//                 var projectid=$(this).find(':selected').attr('projectid')
//                 if (val != ''){
//                     $('#id_block').html('<option value="" selected>--Select Block--</option>')
//                     $('#id_field').html('<option value="" selected>--Select Field--</option>')
//                     $('#id_well').html('<option value="" selected>--Select Well--</option>')
//                     $('#id_block_not').val('')
//                     $('#id_field_not').val('')
//                     $('#id_well_not').val('')
//                     $.ajax({
//                         type:"GET",
//                         url:'/invoice/contractdetails',
//                         data:{'contractid':val,'type':data_id},
//                         async:false,
//                         success: function(data){
//                             $('.nameservicecls').val(data.data.contractname)
//                             $('.types_service').val(data.data.contractservice)
//                             $('#id_hdncontractid').val(data.data.contractid+'-'+data_id)
//                         }
//                     })
//                     var hdncontractvalue=$('#id_hdncontractid').val()
//                     var splitval=hdncontractvalue.split("-")
//                     var contractid=splitval[0]
//                     $.ajax({
//                         type:"GET",
//                         url:'/invoice/getproject',
//                         data:{'contractid':contractid},
//                         async:false,
//                         success: function(data){
//                             console.log(data)
//                             $('#id_project').val(data.data.projectname)
//                             $('#id_project').attr('dataid',projectid)
//                         }
//                     })
//                     var projectid=$('#id_project').attr('dataid')
//                     var blockoption='';
//                     $.ajax({
//                         type:"GET",
//                         url:'/invoice/getprojectblock',
//                         data:{'projectid':projectid},
//                         success: function(data){
//                             console.log(data)
//                             blockoption +='<option value="" dataid="" selected>--Select Block--</option>'
//                             $.each(data.data,function(key,val){
//                                 blockoption +='<option dataid='+val.id+' value="'+val.id+'">'+val.blockname+'</option>'
//                             })
//                             $('#id_block').html(blockoption)
//                         }
//                     })
        
//                 }
//             //} else if (result.isDenied) {
//             //    document.location.href = url;
//             //}
//         //})

//     })

//     $(document).on('change','#id_block',function(){
//         $('#id_field').html('<option value=" " dataid="" selected>--Select Field--</option>')
//         $('#id_well').html('<option value =" " dataid="" selected>--Select Well--</option>')
//         var blockid=$(this).find(':selected').attr('dataid')
//         var projectid=$('#id_project').attr('dataid')
//         var block='';
//         var well="";
//         $.ajax({
//             type:"GET",
//             data:{'projectid':projectid,'blockid':blockid},
//             url:'/projects/projectcreationfield',
//             success: function(data){
//               console.log(data)
//                 if (blockid == "Not Applicable"){
//                     $('#id_block_not').val('Not Applicable')
//                     $('#id_field_not').val('')
//                     $('#id_well_not').val('')
//                     var fieldata='<option value=" " selected dataid="">--Select Field--</option>'
//                     fieldata +='<option dataid="Not Applicable" value="">Not Applicable</option>'
//                     $.each(data.field,function(key,val){
//                         if (val.field != 'Not Applicable'){
//                             fieldata +='<option value="'+val.id+'" dataid="'+val.id+'">'+val.field+'</option> '
//                         }
//                     })
//                     $('#id_field').html(fieldata)
//                     well +='<option value=" " dataid="" selected>--Select Well--</option>'
//                     well +='<option value="" dataid="Not Applicable">Not Applicable</option>'
//                     $.each(data.data,function(key,val){
//                         well +='<option value="'+val.id+'" dataid="'+val.id+'">'+val.wellname+'</option> '
//                     })
//                     $('#id_well').html(well)
//                     }
//                 else{
//                     $('#id_block_not').val('id')
//                     $('#id_field_not').val('')
//                     $('#id_well_not').val('')
//                     block +='<option value=" " dataid="" selected>--Select Field--</option>'
//                     block +='<option value="" dataid="Not Applicable" >Not Applicable</option>'
//                     $.each(data.field,function(key,val){
//                         if (val.field != 'Not Applicable'){
//                             block +='<option value="'+val.id+'" dataid="'+val.id+'">'+val.field+'</option> '
//                         }
//                     })
//                     $('#id_field').html(block)
//                     }
//             }
//           })
//     })

//     $(document).on('change','#id_field',function(){
//         var projectid=$('#id_project').attr('dataid')
//         $('#id_well').html('<option value="" selected>--Select Well--</option>')
//         var fieldid=$(this).find(':selected').attr('dataid')
//         // alert(fieldid)
//         var blockid=$("#id_block").find(':selected').attr('dataid')
//         var well='';
//         $.ajax({
//             type:"GET",
//             data:{'projectid':projectid,'fieldid':fieldid,'blockid':blockid},
//             url:'/invoice/getallwell',
//             success: function(data){
//                 if (fieldid == 'Not Applicable'){
//                     $('#id_field_not').val('Not Applicable')
//                     $('#id_well_not').val('')
//                 }
//                 else{
//                     $('#id_field_not').val('id')
//                     $('#id_well_not').val('')
//                 }
//                 console.log(data)
//                     well +='<option value=" " dataid="" selected>--Select Well--</option>'
//                     well +='<option value="" dataid="Not Applicable">Not Applicable</option>'
//                     $.each(data.data,function(key,val){
//                     well +='<option value="'+val.id+'" dataid="'+val.id+'">'+val.wellname+'</option> '
//                     })
//                     $('#id_well').html(well)
//             }
//             })

//     })

// $(document).on('change','#id_well',function(){
//     var dataid=$(this).find(':selected').attr('dataid')
//     if (dataid == ""){
//         $('#id_well_not').val('')
//     }
//     else{
//         if (dataid == 'Not Applicable'){
//         $('#id_well_not').val('Not Applicable')
//     }
//     else{
//         $('#id_well_not').val('id')
//     }
//     }

    
// })  


//     $.validator.addMethod("checkselect", function(value, element) {
//     console.log(element.value)
//     if((element.value) == " ") {
//         return false    
//     }
//     else{
//         return  true
//     }
    
// });


// $(document).on('click','.ui-datepicker-close',function(){
//     $('.periodformdate-cls').nextAll('.error').remove()
//     var fromdate=$('.periodformdate-cls').val()
//     var todate=$('.periodtodate-cls').val()
//     if (fromdate != "" && todate == ""){
//         $('.periodformdate-cls').removeClass('error')
//     }
//     else if (todate != "" && fromdate == ""){
//         $('.periodtodate-cls').removeClass('error')
//         $('.periodtodate-cls').nextAll('.error').remove()
//     }
//     else if (fromdate != "" && todate != "" ){
//         $('.periodformdate-cls').removeClass('error')
//         $('.periodtodate-cls').removeClass('error')
//         $('.periodtodate-cls').nextAll('.error').remove()
//     }
//     // else{

//     // }
// })


// $('.draft-cls').click(function(e){
//     // alert('')
//     e.preventDefault()
//     var block=$('#id_block').find(':selected').attr('dataid')
//     var field=$('#id_field').find(':selected').attr('dataid')
//     var well=$('#id_well').find(':selected').attr('dataid')

//     if (block == ""){
//         $('#id_block').find(':selected').val('')
//     }
//     if (field == ""){
//         $('#id_field').find(':selected').val('')
//         console.log($('#id_field').find(':selected').val().length)
//     }
//     if (well == ""){
//         $('#id_well').find(':selected').val('')
//         console.log( $('#id_well').find(':selected').val().length)
//     }
//     // $('#invoiceform1')[0].validate().currentForm = '';
//     $("<input>").attr({
//                 name: "submit_type",
//                 id: "hiddenId",
//                 type: "hidden",
//                 value: 0
//             }).appendTo("form");
//     $('#editinvoiceform1')[0].submit();
//     // alert('a')
//     // console.log($(this).parents('form').submit())
    
// })

// $('.final-cls').click(function(){
//     $("#editinvoiceform1").validate({
//         rules: {
//             fromdate:{
//                 required:true,
//             },
//             todate:{
//                 required:true,
//             },
//             contract:{
//                 checkselect:true,
//             },
//             // contractnameservice:{
//             //     required:true,
//             // },
//             // contractservicetype:{
//             //     required:true,
//             // },
//             service_rendered: {
//                 required: true,
//             },
//             location_service: {
//                 required:true,
//             },
//             // project:{
//             //     required:true,
//             // },
//             block: {
//                 checkselect: true,
//             },
//             field:{
//                 checkselect:true,
//             },
//             well:{
//                 checkselect:true,
//             },
            
//         },
//         messages: {
//             fromdate:{
//                 required:"This Field is Required",
//             },
//             todate:{
//                 required:"This Field is Required",
//             },
//             contract:{
//                 checkselect:"This Field is Required",
//             },
//             // contractservicetype:{
//             //     required:"This Field is Required",
//             // },
//             // service_rendered: {
//             //     required: "This Field is Required",
//             // },
//             service_rendered:{
//                 required:"This Field is Required",
//             },
//             location_service: {
//                 required:"This Field is Required",
//             },
//             // project:{
//             //     required:"This Field is Required",
//             // },
//             block: {
//                 checkselect:"This Field is Required",
//             },
//             field:{
//                 checkselect:"This Field is Required",
//             },
//             well:{
//                 checkselect:"This Field is Required",
//             },
//             errorElement : 'span',
//             },
//         submitHandler: function(form) {
//             $('#submit').attr('disabled','disabled');
//             form.submit();
//             $("<input>").attr({
//                 name: "submit_type",
//                 id: "hiddenId",
//                 type: "hidden",
//                 value: 1
//             }).appendTo("form");
//         }
//     })    
// })


</script>
{% endblock %}
