{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_custom_tags %}
{% load cost_code_tags %}
{% load credit_custom_tags %}
{% load wcc_custom_tags %}
{% load custom_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendor-login/invoice.css' %}">

    <div id="view-page">
        <div class="row">
            <div class="col-lg-6 col-md-6">

            </div>
           
            <div class="col-lg-6 col-md-6">
                <button class="mr-0 btn btn-clr btn-master waves-effect waves-float waves-light" >
                    <!-- <a href="{% if request.user.roles_id == 3 %}{% url 'wcc:approvalwcclist' %}{% else%}{% url 'wcc:wcclist' %}{% endif %}">Back</a> -->
                    <a onclick="history.back()">Back</a>
                </button>
                {% if request.user.roles_id != 4 %}
                    <button class="btn btn-clr btn-master waves-effect waves-float waves-light">
                        <a href="{% url 'wcc:wccapprovaltrack' pk=pk%}" target="_blank">Track</a>
                    </button>
                {% endif %}

                <button type="button" class="btn btn-clr btn-master">
                    <a href="{% url 'wcc:wccpdfview' pk=pk %}" target=”_blank”>Download PDF</a>
                </button>
            </div>
        </div>
        <div class="row parent">
            <div class="row my-3 pr-0 justify-content-end">
                <div class="col-lg-9 col-md-6"></div>
               
                
           
                    <div class="inv_rec_cls">
                        <p class="font-weight-bold">WCC RECEIVED</p>
                        <p>Date: <span> {{ submit_date_format }} </span></p>
                    <p>By</p>
                    <p>{{request.company.company_name|safe}}</p>
                
                
                    {% if wcc_approved_date.approval_status == 3 %}
                    <p style="color: rgb(241 191 0);">Returned Date : {{ wcc_approved_date.wcc_approval_submit_date|confulldate:request.company.id }}</p>
                    {% elif wcc_approved_date.approval_status == 2 %}
                    <p style="color: darkgreen;">Approved Date :  {{ wcc_approved_date.wcc_approval_submit_date|confulldate:request.company.id }}</p>
                    {% elif wcc_approved_date.approval_status == 0 %}
                    <p style="color: red;">Rejected Date :  {{ wcc_approved_date.wcc_approval_submit_date|confulldate:request.company.id}}</p>
                    {% endif %}
                
                       
                 

            </div>
    

        <h3 class="from-head">WCC Summary</h3>
        <h6 class="from-sub-head">WCC Information</h6>
        <table class="invoice-info">
            <tbody>
                <tr>
                    <th>Period of Service</th>
                    <td>{{wcc_data.fromdate|date:"d-M-Y"}} to {{wcc_data.todate|date:"d-M-Y"}}</td>   
                </tr>
                <tr>
                    <th>Contract/Amendment Variation Order Number</th>
                    {% getcontract wcc_data.contractid wcc_data.contracttype as Invdata %}
                    <td>{{Invdata.0|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Name of Service</th>
                    <td>{{wcc_data.name_service|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Type of Service</th>
                    <td>{{wcc_data.types_service|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Brief Description of Service Rendered</th>
                    <td>{{wcc_data.description_service|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Location of Service</th>
                    <td>{{wcc_data.location_service|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Project Name</th>
                    <td>{{wcc_data.project_name|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Block</th>
                    <td>{{wcc_data.block|checkblockval|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Field</th>
                    <td>{{wcc_data.field|checkfieldval|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Well</th>
                    <td>{{wcc_data.well|checkwellval|default_if_none:"---"}}</td>
                </tr>
                <!-- <tr>
                    <th>Cost Code</th>
                    {% if costcodedata %}
                    {% getcostcode_preview costcodedata.costcode_main costcodedata.order request.company as subcostcode %}
                    {% getcostcode_string costcodedata.costcode_main costcodedata.order request.company as all_costcode_string %}
                    <td>{{subcostcode}}-{{all_costcode_string}}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}
                </tr> -->
            </tbody>
        </table>
        

        <h5 class="head-inv-pre">WCC Summary Details</h5>

        <div class="table-responsive">
            <table class="inv-pretbl inv-prev_width wcc-summery-detil">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>WCC No</th>
                        <th>WCC Date</th>
                        <th>Period of Service</th>
                        <th>WCC Amount {% for wcc in wccworkvalues %}{% if wcc.wcc_amount %}({{currency_data.currency}}){% else %} {% endif %}{% endfor %}</th>
                        <th>WCC File</th>
                    </tr>
                </thead>
                <tbody>
                   
                    {% for wcc in wccworkvalues %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{wcc.wcc_number|default_if_none:"---"}}</td>
                        <td>{{wcc.wcc_date|convert_credit_date:request.company.id|default_if_none:"---"}}</td>
                        <td>{{wcc.wcc.fromdate|date:"d-M-Y"}} to {{wcc.wcc.todate|date:"d-M-Y"}}</td>
                        <td>{% if wcc.wcc_amount %}{{currency_symbol}}{{wcc.wcc_amount}}{% else %}---{% endif %}</td>
                        <td class="text-left" style="width: 20%;">
                            {% if wcc.wcc_file_name %}
                            <a target="_blank" href="{{wcc.wcc_file.url}}" style="word-break: break-word;">
                                {% if wcc.wcc_file_name %}
                                    {{ wcc.wcc_file_name|default_if_none:"---" }}
                                {% else %}
                                    {{wcc.wcc_file_name|cut:"wccfile/"}}
                                {% endif %}
                            </a>
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr><td></td><td></td><td></td><td class="total-vv">Total Value {% for wcc in wccworkvalues %}{% if wcc.wcc_amount %}({{currency_data.currency}}){% else %} {% endif %}{% endfor %}</td><td class="total-amt-dol"> {% for wcc in wccworkvalues %}{% if wcc.wcc_amount %}{{wcc.wcc_amount}}{% else %}---{% endif %}{% endfor %}</td></tr>
                </tbody>
            </table>
        </div>
            
            <h5 class="from-sub-head">WCC Supporting Documents</h5>
            <table class="invoice-info">
            <tbody>
            {% for doc_detail in supports_docs %}
                <tr>
                    <th>{{doc_detail.name}}</th>    
                    {% getwccsupportfile pk doc_detail.id as supportfiles %}
                    <td>
                    {% for file in supportfiles.0 %}
                        <div><a target="_blank" href="{{file.wcc_support_file.url}}">{{file.wcc_support_file_name|cut:"wccfile/"}}</a></div>
                    {% empty %}
                        <div>---</div>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            

            {% if wcc_data.contracttype != "original" %}
            <tr>
                <th>
                    {{wcc_data.contracttype|capitalize_letter}} Contract
                </th>
                <td>
                    {% getwccamendmentcontract_price_files contractmaster wcc_data.contracttype 1 as contract_files %}
                        {%if contract_files.1 != 0  %}
                            <div class="col-6">
                                <div class="view-ul">
                                {% for contract_file in contract_files.0 %}
                                <p><a target="_blank" href="{% url 'invoice:view_contractfiles' pk=contract_file.id %}">{{ contract_file.original_file_name }}</a></p>
                                {% empty %}
                                 <li>---</li>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                </td>
            </tr>
            {% endif %}
            



            {% if wcc_data.contracttype != "original" %}

            <tr>
                <th>{{wcc_data.contracttype|capitalize_letter}} Price Table</th>
                <td>  

                        {% getwccamendmentcontract_price_files contractmaster wcc_data.contracttype 2 as pricetables %}
                            {%if pricetables.1 != 0  %}
                                <div class="col-6"> 
                    <!-- <h4>Price Table Files</h4> -->
                                    <div class="view-ul">
                                        {% for file in pricetables.0 %}
                                            <p><a target="_blank" href="{% url 'invoice:view_contractfiles' pk=file.id %}">{{ file.original_file_name }}</a></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                </td>
            </tr>
            {% endif %}


      
            <tr>
                <th>
                    Original Contract
                </th>
                <td>    
                 {% get_wcc_originalcontract_price_files contractmaster wcc_data.contracttype 1 as contract_files %}
                        {%if contract_files.1 != 0  %}
                        <div class="col-6"> 
                            <div class="view-ul">
                                {% for contract_file in contract_files.0 %}
                                <p> <a target="_blank" href="{% url 'invoice:view_contractfiles' pk=contract_file.id %}">{{ contract_file.original_file_name }}</a></p>
                                {% empty %}
                                 <p>---</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                </td>
            </tr>
          
            <tr><th>Price Table</th>
                <td>  
                        {% get_wcc_originalcontract_price_files contractmaster wcc_data.contracttype 2 as pricetables %}
                            {%if pricetables.1 != 0  %}
                                <div class="col-6"> 
                                    <div class="view-ul">

                                    {% for file in pricetables.0 %}

                                    <p><a target="_blank" href="{% url 'invoice:view_contractfiles' pk=file.id %}">{{ file.original_file_name }}</a></p>
                                    {% endfor %}
                                     <divl>
                                </div>

                            {% endif %}
                </td>
            </tr>







            </tbody>
            </table>

            <br><br>


     <div id="editor"></div>   
    </div>
    <div class="row">
        <div class="table-responsive">
            {% if approved_users %}
                <table class="coversheet-users">
                    <thead>
                        <th>Name & Designation</th>
                        <th>Signature</th>
                        <th>Comments</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                        {% for approved_by_user in approved_users %}
                            {% get_user approved_by_user.user.id as flow_user %}
                            <tr>
                                <td>{{ flow_user.name }} {{ flow_user.lastname }}-{{ flow_user.designation_role }}</td>
                                <td class="coversheet-users-image">
                                    {% if flow_user.signature_type %}
                                        {% if flow_user.signature_type == "signature" %}
                                        <img src="{{flow_user.signature_image.url}}">
                                        {% elif flow_user.signature_type == "font" %}
                                        <p style="font-family:'{{flow_user.signature_fontfamily.font_name}}';">
                                            {{flow_user.signature_fontname}}</p>
                                        {% else %}
                                        <img src="{{flow_user.signature_image.url}}"><br><br>
                                        {% endif %}
                                    {% elif flow_user.signature_type == '' %}
                                        {% if flow_user.signature_image %}
                                        <img src="{{flow_user.signature_image.url}}">
                                        {% elif flow_user.signature_fontfamily %}
                                        <p style="font-family:'{{flow_user.signature_fontfamily.font_name}}';">
                                            {{flow_user.signature_fontname}}</p>
                                        {% elif flow_user.signature_image %}
                                        <img src="{{flow_user.signature_image.url}}">
                                        {% else %}
                                        -
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="line-brk">{{ approved_by_user.comment|default_if_none:"---" }}</td>
                                <td class="text-center">{{ approved_by_user.wcc_approval_submit_date|confulldate:request.company.id }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
             
            {% endif %}
        </div>
    </div>
    
<style> 
    .inv-pretbl{
        counter-reset:Serial;
    }
    .serial_count td:first-child::before{
        counter-increment: Serial;      
        content: counter(Serial); 
    }
 
  
</style>

{% endblock %}
</div>
      