.com-gen-sett th{
    text-align: left !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}



@media only screen and (min-width:768px) and (max-width:1023px){
    table.com-gen-sett{
        width: 75% !important;
    }
}
@media only screen and (min-width:768px) and (max-width:795px){
    .gener-hd{
        font-size: 15px !important;
    }
}