{% extends "base.html" %}
{% load static %}
{% block content %}
{% load cost_code_tags %}


<div>
    <div class="row">
        <h3 class="from-head">Export Cost Code</h3>
    </div>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-12">
            <label for="staticEmail" class="col-form-label">Select Root Category<span
                class="star-clr">*</span></label>
            <select id="level1_category" name="level1_category" class="form-control">
                <option value="" selected="selected">---Select ---</option>
                {% for discipline in alldiscipline%}
                    {% for development in alldevelopment%}
                        <option value="{{discipline.id}}_{{development.id}}">{{discipline.name}}({{development.development_type}})</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <label for="staticEmail" class="col-form-label">Select Sub Category<span
                class="star-clr">*</span></label>
            <input type="hidden" name="level2_costcode" class="level2_costcode" id="level2_costcode">
            <select id="level2_category" name="level2_category" class="form-control"></select>
        </div>
    </div>

    {% for get_remaining_level in getremaining_levels%}
    {% getlevelcount forloop.counter as levelcount %}

        <div class="row">
            <div class="col-12">
                <label for="staticEmail" class="col-form-label">Level {{levelcount}}<span
                    class="star-clr">*</span></label>
                {% getcost_type_by_masterid get_remaining_level as cost_types %}
                <select id="remaining_levels" name="remaining_levels" class="form-control remaining_levels" data-index="0">
                    <option value="">Select</option>
                    {% for cost_type in cost_types  %}
                        <option value="{{cost_type.id}}" cost_code="{{cost_type.component_cost_code}}" >{{cost_type.component_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endfor %}

    <div class="text-center btn-cls">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
   
</div>
        

{% endblock %}

{% block scripts %}
{{ block.super }}

<script src="{% static 'js/cost_code/generate_cost_code.js' %}"></script>

{% endblock %}
