{% load credit_custom_tags %}
{% load invoice_custom_tags %}
{% load custom_tags %}
{% load cost_code_tags %}
{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendor-login/creditnote.css' %}">
<header>
    <div class="company-details">
        <h4 class="head-inv-pre" style="display: flex; justify-content: center; align-items: center;">{{request.company.company_name|safe}}</h4>
        <p>{{request.company.address|safe}}</p>  
    </div>
</header>
<footer>
    <table>
        <tr style="vertical-align: baseline;">
            <td class="header_text">
                Vendor Name :
            </td>
            <td class="header_val">
                {{credit_note.vendor.vendor_name}}
            </td>
        </tr>
        <tr style="vertical-align: baseline;">
            <td class="header_text">
                Contract Ref No :
            </td>
            <td class="header_val">
                {% if credit_note.contracttype == "original" %}{{credit_note.contract.reference_number}}{% else %}{{credit_note.amendment.amendment_reference_number}}{% endif %}
            </td>
        </tr style="vertical-align: baseline;">
        <tr>
            <td class="header_text">
                Credit No :
            </td>
            <td class="header_val">
                {{credit_note_number}}
            </td>
        </tr>
    </table>





   
     
</footer>
<!-- 
<table>
    <tr>
    <td>
    <tr>
    <td>{% if imageurl %}<img class="img-pdf" src="{{imageurl}}">{% endif %}</td>
    <td><h4 class="companyname-text">{{comapnyname.company_name}}</h4></td>
    </tr>
    </td>

        <td>

        </td>
    </tr>
</table> -->


     

                <h3 class="from-head">Credit Note Summary</h3>
                <h6 class="from-sub-head">Reference Invoice Information</h6>
        {% remove_session request pk as sessions %}
        <table class="invoice-info">
            <tbody>
                <tr>
                    <th>Vendor Name</th>
                    <td>{{invoicedetail.vendor.vendor_name|default_if_none:"---"}}</td>   
                </tr>
                <!-- <tr>
                    <th>Period of Service</th>
                    <td>{% if status %} {{invoicedetail.fromdate|date:"d-M-Y"}} to {{invoicedetail.todate|date:"d-M-Y"}}{% else %}-{% endif %}</td>   
                </tr> -->
                <tr>
                    <th>Contract/Amendment Variation Order Number</th>
                    {% getcontract invoicedetail.contractid invoicedetail.contracttype as Invdata %}
                    <td>{{Invdata.0|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Name of Service</th>
                    <td>{{invoicedetail.name_service|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Type of Service</th>
                    <td>{{invoicedetail.types_service|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Brief Description of Service Rendered</th>
                    <td>{{invoicedetail.description_service|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Location of Service</th>
                    <td>{{invoicedetail.location_service|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Project Name</th>
                    <td>{{invoicedetail.project_name|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Block</th>
                    <td>{{invoicedetail.block|checkblockval|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Field</th>
                    <td>{{invoicedetail.field|checkfieldval|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Well</th>
                    <td>{{invoicedetail.well|checkwellval|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th>Cost Code</th>
                    {% if costcodedata %}
                    {% getcostcode_preview costcodedata.costcode_main costcodedata.order request.company as subcostcode %}
                    {% getcostcode_string costcodedata.costcode_main costcodedata.order request.company as all_costcode_string %}
                    <td>{{subcostcode}}-{{all_costcode_string}}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Invoice Numbers</th>
                    <td>
                       
                            {% for invoice_data in invoice_list %}
                                {% for invoice_num in invoice_data.inv_num %}
                                  <span>{{ invoice_num }}</span>
                                  <br>
                                {% endfor %}
                            {% endfor %}
                       
                    </td>
                </tr>
                
            </tbody>
        </table>

                <h6 class="from-sub-head">Credit Note Summary Details</h6>
       

     {%clearpdfserial request%}

<div class="row">
    <div class="col-6">
        <label class="credit-con-no">Contract No:<span>{% if credit_note.contracttype == "original" %}
                {{credit_note.contract.reference_number}}{% else %}
                {{credit_note.amendment.amendment_reference_number}}{% endif %}</span></label>
    </div>
    <div class="col-6">
    </div>
</div>



    {% for i in listdata %}
    <table class="inv-pretbl Credit-Note-Summary">
        <thead>
            <tr>
                <th class="table-sn-wid">S/N</th>
                <th>Credit Note No</th>
                <th class="credit-date-wid">Date</th>
                <th>Ref. Invoice No</th>
                <th>Gross Amount<br> {% if exchange_rate == '1' %}{% for k in i %}{% if forloop.first%}({{0|get_curreny:k}}){%endif%}{% endfor%} {% elif exchange_rate == '2' %}{% for k in i %}{% if forloop.first%}  {% if invoicedetail|get_split_currency:k == 1 %}  ({{0|get_curreny:k}})  {%else%} ({{basecurrency}}) {% endif %}   {%endif%}{% endfor%}{% else %} ({{basecurrency}}) {% endif %}</th>
                <th>Tax<br> {% if exchange_rate == '1' %}{% for k in i %}{% if forloop.first%}({{0|get_curreny:k}}){%endif%}{% endfor%} {% elif exchange_rate == '2' %}{% for k in i %}{% if forloop.first%}  {% if invoicedetail|get_split_currency:k == 1 %}  ({{0|get_curreny:k}})  {%else%} ({{basecurrency}}) {% endif %}   {%endif%}{% endfor%}{% else %} ({{basecurrency}}) {% endif %}</th>
                <th>Total <br>{% if exchange_rate == '1' %}{% for k in i %}{% if forloop.first%}({{0|get_curreny:k}}){%endif%}{% endfor%} {% elif exchange_rate == '2' %}{% for k in i %}{% if forloop.first%}  {% if invoicedetail|get_split_currency:k == 1 %}  ({{0|get_curreny:k}})  {%else%} ({{basecurrency}}) {% endif %}   {%endif%}{% endfor%}{% else %} ({{basecurrency}}) {% endif %}</th>
                
                {% if exchange_rate == '2' %}
                <th>Payment Currency</th>
                {% endif %}

                <th>Credit File</th>
            </tr>
        </thead>
        <tbody>
            {% for credit in credit_note_invoice %}
            {% if credit.vendor_split_invoice.currency.id in i %}
            <tr class="credit-font-td">

                {% with sno=request|pdfserialnumber %}
                <td class="wid-sn"><p>{{sno}}</p></td>{% endwith %}
                <td class="inv_name"><p>{{credit.credit_note_no | split_addspaces}}</p></td>
                <td><p>{{credit.date|convert_credit_date:credit.credit.company.id}}</p></td>
                <td class="inv-wid-nm">
                   <p>{% for invoice in credit.credit.id|credit_contract_invoices:"inv" %}
                    {{invoice | split_addspaces}}{% if not forloop.last %},{% endif %}
                    {% endfor %}</p>
                </td>


                {% check_exchage_value invoicedetail.id as exchangetype  %}
                {% check_exchage_percentage invoicedetail.id credit.vendor_split_invoice.id as exchangepercentage%}
                {% credit_base_amount credit.credit.total_value credit.percentage as gross_amount%}
                <td class="">
                    <p>{% if credit.credit.total_value %}
                        <!-- {% if exchange_rate == '1' %}
                            ({{credit.symbol}}
                        {% else %}
                            ({{basecurrency}}
                        {% endif %} -->
                        <!-- ({{gross_amount|floatformat:2}}) -->
                        {% if exchangetype == '1' %}
                            {% comment %} ({{gross_amount|floatformat:2}})-- {{exchangetype}} -- {{credit.exchange_rate}} {% endcomment %}
                            {% exchange_grossamount gross_amount credit.exchange_rate  as exchangeNetamount %}
                            ({{exchangeNetamount}})
                        {% else %}
                            {% exchange_grossamount gross_amount exchangepercentage  as exchangeNetamount %}
                            ({{exchangeNetamount}})
                        {% endif %}
                    {% else %}
                        <!-- {% if exchange_rate == '1' %}
                            ({{credit.symbol}}
                        {% else %}
                            ({{basecurrency}}
                        {% endif %} -->
                        (0.00)
                    {% endif %}</p>
                </td>

                <td class="">
                    <!-- {% if credit.credit.total_value %}{{credit.symbol}}{% endif %}  -->
                    <!-- {% if exchange_rate == '1' %}
                    ({{credit.symbol}}
                    {% else %}
                    ({{basecurrency}}
                    {% endif %}  -->
                    {% comment %} <p>({{credit.credit.exclusive_value|credit_excluive_tax:credit.percentage}})</p> {% endcomment %}
                    {% if exchangetype == '1' %}
                    {% credit_excluive_tax_with_exchangetype credit.credit.exclusive_value credit.percentage credit.exchange_rate as exchangeTax %}
                    <p> ({{exchangeTax}})</p>
                    {% else %}
                    {% credit_excluive_tax_with_exchangetype credit.credit.exclusive_value credit.percentage exchangepercentage as exchangeTax %}
                    <p>({{exchangeTax}})</p>
                    {% endif %} 
                </td>


                <td>
                    {% credit_exclusive_value credit.credit.exclusive_value credit.percentage as exclusive_tax %}
                    {% if exchangetype == '1' %}
                        {% addmorevalue exclusive_tax gross_amount as totalamount%}
                        {% exchange_netamount totalamount credit.exchange_rate  as exchangeNetamount %}
                        ({{exchangeNetamount}})
                        {%with total=credit.payment_currency_amount|remove_symbol%}{%with dem=exchangeNetamount|add:request%}    {%endwith%}    {% endwith %}
                    {% else %} 
                        {% addmorevalue exclusive_tax gross_amount as totalamount%}
                        {% exchange_netamount totalamount exchangepercentage  as exchangeNetamount %}
                        {{exchangeNetamount}}
                        {%with total=credit.payment_currency_amount|remove_symbol%}{%with dem=exchangeNetamount|add:request%}    {%endwith%}    {% endwith %}
                        {% endif %} 
                </td>
                
                {% if exchange_rate == '2' %}
                <td>{{credit.vendor_split_invoice.currency.currency}}</td>
                {% endif %}
            
               
                
                <td class="inv-file" id="creditfile-td-left" style="align-items: left;">
                    {% if credit.file != "" %}
                    <a class="credit-link">{{credit.file.name | split_addspaces|cut:"creditdocument s/"}}</a>

                    {% endif %}
                </td>
            </tr>


            {% endif %}
            {% endfor %}
            {%clearpdfserial request%}

            <tr class="end-total-credit-note">
                <td></td><td></td><td></td><td></td><td></td>
                <td class="pdf-total-vv">Total Value {% if exchange_rate == '1' %}{% for k in i %}{% if forloop.first%}({{0|get_curreny:k}}){%endif%}{% endfor%} {% elif exchange_rate == '2' %}{% for k in i %}{% if forloop.first%}  {% if invoicedetail|get_split_currency:k == 1 %}  ({{0|get_curreny:k}})  {%else%} ({{basecurrency}}) {% endif %}   {%endif%}{% endfor%}{% else %} ({{basecurrency}}) {% endif %}</td>
                <td class="total-pdf-doll">({%previoussessionvalue%})</td>
                 {% if exchange_rate == '2' %}
                <td></td> 
                {% endif %}
                <td></td>
            </tr>

        </tbody>
    </table>
    {% endfor %}

    <h5 class="credit-note-doc">Credit Note Supporting Documents</h5>
    <table class="invoice-info">
        <tbody >
            {% for invoice in invoice_list %}
            <tr>
                <th>
                    {%for num in invoice.inv_num %}
                   {{num | split_addspaces}}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </th>
                <td>
                    {% for file in invoice.get_invoice_files %}
                    <div class="credit-note-link"><a >
                            <p class="nme-lis">{{file.support_file.name|split_addspaces|cut:"invoicedocumen ts/"}}</p>
                        </a></div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th>Other Documents</th>
                <td>
                    {% for documents in support_documents %}
                    <div class="credit-note-link"><a >
                            <p class="nme-lis">{{documents.file.name|split_addspaces}}</p>
                        </a></div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Contracts</th>
                <td>
                    <div>
                        {% if amendment %}
                        {% getamendmentcontract_price_files1 amendment invoicedetail.contracttype 1 as contract_files %}
                        {% for contract_file in contract_files %}
                            <p><a target="_blank"  class="link-file" style="text-decoration: none"; href="{% url 'invoice:view_contractfiles' pk=contract_file.id %}">{{ contract_file.original_file_name }}</a></p>

                        {% endfor %}
                        {% else %}
                            {% for documents in documents_data %}
                                {% getcreditsupportfiles invoicedetail.id documents.data contract as supportfiles %}
                                {% for file in supportfiles.0 %}
                                    {% if documents.data == '9' %}
                                        <a target="_blank" class="link-file" style="text-decoration: none"; href="{% url 'invoice:view_contractfiles' pk=file.id %}">{{ file.original_file_name }}</a><br>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <th>Price Table</th>
                <td>
                    <div>
                        {% if amendment %}
                            {% if amendment %}
                                {% getamendmentcontract_price_files1 amendment contracttype 2 as price_files %}
                                {% for price_file in price_files %}                       
                                    <p><a target="_blank"  class="link-file" style="text-decoration: none"; href="{% url 'invoice:view_contractfiles' pk=price_file.id %}">{{ price_file.original_file_name }}</a></p>
                                {% endfor %}
                            {% else %}
                                <!-- If no amendment price table uploaded, display message -->
                                ----
                            {% endif %}
                        {% else %}
                            <!-- If no amendment, iterate through documents_data -->
                            {% for documents in documents_data %}
                                {% getcreditsupportfiles invoicedetail.id documents.data contract as supportfiles %}
                                {% for file in supportfiles.0 %}
                                    {% if documents.data == '10' %}
                                        <!-- If document data is '10', display link to price table file -->
                                        <a target="_blank" class="link-file" style="text-decoration: none"; href="{% url 'invoice:view_contractfiles' pk=file.id %}">{{ file.original_file_name }}</a><br>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if not documents_data %}
                                <!-- If no price table files found, display message -->
                               -----
                            {% endif %}
                            {% if credit_note.contracttype == "original" and not documents_data %}
                                {% if not credit_note.contract.upload_pricetable %}
                                    <!-- If original contract and no price table uploaded, display message -->
                                  ----
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
